@use "_attractions-theme.scss";
@use "common.scss";

.material {
  padding-bottom: 4em;

  :global h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  :global .card {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;

    & > .title {
      font-weight: attractions-theme.$bold-font-weight;
      display: flex;
      align-items: center;
      color: attractions-theme.$main;
      font-size: 1.1rem;

      .icon {
        margin-right: .5em;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 1em;
      flex-wrap: wrap;
      align-items: center;
    }

    & > .actions {
      align-items: flex-end;
      flex-grow: 1;
    }
  }
}

@media only screen and (min-width: 1024px) {
  @supports (display: grid) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;

      :global .individual-ctls, .row {
        grid-column: 1 / 3;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        :global .statistics {
          margin-left: 1em;
          flex: 1;
        }
      }
    }
  }

  .cards :global {
    .projects, .purchases-list {
      max-height: 70em;
      overflow-y: auto;
    }
  }
}
