@use "sass:color";
@use "sass:meta";
@use "_attractions-theme.scss";

:global {
  @include meta.load-css("common.scss");
}

.material {
  :global h2 {
    text-align: center;
    font-weight: attractions-theme.$bold-font-weight;
    font-size: 1.7em;
    color: attractions-theme.$main;

    @media only screen and (min-width: 640px) {
      font-size: 2em !important;
    }
  }

  & + :global footer .to-top::before {
    background: color.mix(attractions-theme.$main, white, 7%) !important;
  }
}
