.material h1 {
  margin: 1.2em 0 .8em;
}

.material main {
  display: flex;
  flex-direction: column;
}

.form-field {
  flex-direction: column;
  margin-bottom: 2em;
}

.form-field.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.form-field.horizontal .text-field-wrapper {
  width: 8em;
}

.form-field > label {
  margin-bottom: .3em;
}

.form-field .desc {
  margin-bottom: .7em;
}

.varieties .switch-wrapper {
  display: flex;
}

.varieties h2 {
  color: #127800;
}

.variety {
  margin-top: 1.5em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #ddd;
}

.variety .selected-color {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: 1em;
}

.variety .sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quantity {
  display: flex;
  align-items: baseline;
}

.quantity .text-field {
  margin-top: 1em;
  margin-left: 1.5em;
  max-width: 6em;
}

.sizes .text-field {
  width: 30%;
  margin-top: .7em;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
}

.lds-ellipsis div {
  position: absolute;
  top: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 5px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 5px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 19px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 34px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(14px, 0);
  }
}

.image-platform {
  border: 2px dashed #127800;
  border-radius: 25px;
  padding: 1.5em;
  margin: 2em 0 .5em;
}

.image-platform.has-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-platform.has-content .images {
  display: flex;
  flex-wrap: wrap;
}

.image-platform.has-content .image {
  margin: 0 10px 10px 0;
  border-radius: 10px;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: column;
}

.image-platform.has-content .image:first-child::before {
  content: "cover image";
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: -1.2rem;
  font-size: .9rem;
  font-weight: 300;
  color: #127800;
}

.image-platform.has-content .image > .actions {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: relative;
}

.image-platform.has-content .image > .text {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 0 1em;
  font-weight: 300;
  font-size: .9rem;
}

.image-platform.has-content .image > .text.error {
  color: #ab0303;
  font-weight: 500;
}

.image-platform.has-content .image .image-wrapper {
  overflow: hidden;
}

.image-platform.has-content .image .image-wrapper img {
  display: block;
  height: 100%;
}

.image-platform.has-content .image .image-wrapper,
.image-platform.has-content .image .status-overlay {
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-platform.has-content .image .status-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.image-platform.has-content .image .status-overlay .lds-ellipsis, .image-platform.has-content .image .status-overlay .retry {
  display: none;
}

.image-platform.has-content .image .status-overlay .retry .icon {
  width: 2.5em;
  height: 2.5em;
  stroke-width: 1.5;
  stroke: #fff;
}

.image-platform.has-content .image.loading .image-wrapper img, .image-platform.has-content .image.error .image-wrapper img {
  overflow: hidden;
  filter: blur(4px);
}

.image-platform.has-content .image.loading .status-overlay, .image-platform.has-content .image.error .status-overlay {
  visibility: visible;
}

.image-platform.has-content .image.loading > .actions, .image-platform.has-content .image.error > .actions {
  display: none;
}

.image-platform.has-content .image.loading .lds-ellipsis {
  display: block;
}

.image-platform.has-content .image.loading > .text.loading {
  display: flex;
}

.image-platform.has-content .image.error .retry {
  display: flex;
}

.image-platform.has-content .image.error > .text.error {
  display: flex;
}

.image-platform.has-content .image .drag-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 3px;
  stroke: #888;
  cursor: move;
  transform: translateY(-50%) rotate(90deg);
}

.image-platform .icon {
  stroke: #127800;
}

.image-platform .title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #127800;
}

.image-platform small {
  font-weight: 300;
  font-size: .9rem;
  text-align: center;
  display: block;
}

.image-platform input[type="file"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.color-picker .btn.close {
  margin-right: -.3em;
  margin-top: -.3em;
}

.color-picker .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.color-picker .relative-wrapper {
  padding: 1em;
}

.color-picker .color-choices {
  padding-right: 2.4em;
  display: flex;
  flex-wrap: wrap;
  max-width: 15em;
}

.color-picker .radio {
  padding: .3em;
}

@supports (display: grid) {
  .image-platform:not(.has-content) {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px 1fr;
    row-gap: 1.3em;
    column-gap: 1em;
    align-items: center;
  }
  .image-platform input[type="file"] {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .image-platform .icon {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .image-platform .title {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .image-platform small {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.more {
  margin: .5em 0;
}

.preview .actions {
  margin-top: 1em;
  display: flex;
  align-self: center;
}

@media only screen and (min-width: 500px) {
  @supports (display: grid) {
    .variety.no-size {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr auto;
    }
    .variety.no-size .image-platform, .variety.no-size .btn.danger {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .quantity .text-field {
      margin-top: 0;
      margin-left: 1.5em;
      max-width: 6em;
    }
    .variety .btn.danger {
      justify-self: start;
    }
  }
}

@media only screen and (min-width: 640px) {
  .form-field {
    flex-direction: row;
  }
  .form-field.horizontal {
    width: 50%;
  }
  .form-field label {
    width: 45%;
  }
  .form-field .text-field-wrapper {
    width: 50%;
  }
  header.varieties {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sizes .text-field {
    width: 15.5%;
  }
  .image-platform label,
  .image-platform small {
    text-align: center;
  }
  @supports (display: grid) {
    .image-platform {
      row-gap: .3em;
    }
    .image-platform small {
      grid-column-start: 2;
      align-content: center;
    }
    .image-platform .icon {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

@media only screen and (min-width: 750px) {
  .sizes-wrapper {
    display: flex;
    align-items: baseline;
  }
  .sizes-wrapper .label {
    margin-right: 1.6em;
  }
  .sizes .text-field {
    width: 5.4em;
    margin-right: .5em;
  }
  .sizes .text-field:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .material main {
    flex-direction: row;
    justify-content: space-between;
  }
  main > form {
    margin-bottom: 3em;
    margin-right: 3em;
  }
  .preview {
    width: 25em;
    margin-left: 2em;
  }
  .preview .actions {
    align-self: flex-end;
  }
}
