@import "../../global/src/_variables.scss";

.preview {
  margin: 1.5em 0 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h2 {
    margin-bottom: .5em;
    color: $main;
  }

  .card {
    max-width: 25rem;

    & > .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .placeholder {
    background: transparentize(black, .9);
    border-radius: 5px;
    display: inline-block;

    &.name {
      height: 1.6em;
      width: 70%;
      align-self: flex-start;
      margin-bottom: 1.3em;
    }

    &.price {
      height: 1.3em;
      width: 3em;
    }
  }

  .card-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    flex-wrap: wrap;

    &.top {
      align-items: flex-start;
    }
  }

  .labeled > .content {
    display: flex;
    align-items: center;
  }

  .colored {
    width: 1.5rem;
    height: 1.5rem;
  }

  .size, .colored {
    margin: .3em .5em 0 0;
  }

  .purchase {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > span {
      font-size: .9rem;
      font-weight: 300;
      margin-bottom: .3em;
    }

    & > button {
      pointer-events: none;
    }
  }

  .innopoint {
    height: .9rem;
    margin-bottom: 1px;
    margin-left: .2em;
  }
}

@media only screen and (min-width: 480px) {
  .preview {
    display: flex;
    align-items: center;
    flex-direction: column;

    .card {
      width: 27em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .preview {
    margin-top: 0;
    align-items: flex-start;
    flex-grow: 0;
  }
}
