@import "_attractions-theme.scss";

.project-header {
  margin-bottom: 1.5em;

  .cover-image {
    width: 100%;
  }

  :global h1 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    .chip {
      display: inline-block;
      background: $main;
      color: #fff;
      margin-left: .5em;
      flex-shrink: 0;
    }
  }

  .info {
    margin: 0 .875em;
    padding: 0 .25em 1.5em;
    border-bottom: .0625em solid $light-contrast;
  }

  :global .labeled {
    margin-top: 1em;
    margin-right: 2.5em;
    font-size: 1.05rem;

    &.tags .icon {
      align-self: center;
    }

    .date-range {
      align-self: start;
      margin-top: .2em;
    }

    .admin-feedback {
      align-self: start;
      margin-top: .2em;
      white-space: pre-line;
    }

    .secondary {
      display: block;
      margin-top: .2em;
    }
  }

  &.wrap .data-points {
    display: flex;
    flex-wrap: wrap;
  }

  .staff {
    display: flex;
    flex-direction: column;

    a {
      display: block;
      margin-top: .2em;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;

    :global .btn.filled {
      margin-top: 1em;
    }

    :global .btn.outline {
      margin-top: 1em;
      margin-right: .5em;
    }

    :global .btn.review {
      margin-left: .5em;
    }
  }

  .review-verdict {
    margin-top: 1.5em;

    .title {
      margin-bottom: .5em;
      font-weight: 500;
    }

    .actions {
      margin-top: .5em;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 699px) {
    background: var(--image-url);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    box-shadow: $shadow-1;

    :global h1 {
      margin-top: 1.5em;
    }

    .cover-image {
      display: none;
    }

    .info {
      width: 60%;
      background:
        linear-gradient(
          to left,
          #fff 0%,
          rgba(255, 255, 255, 1) 90%,
          rgba(255, 255, 255, 0) 100%
        );
      margin: 0;
      padding-left: 4em;
      padding-right: 1em;
      border-bottom: none;
    }
  }

  @media only screen and (min-width: 700px) {
    display: flex;
    margin-top: 1em;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    .cover-image {
      width: 40%;
      max-width: 25em;
      border-radius: 1em;
      margin: 1em 1em 1em 0;
      object-fit: cover;
    }

    .info {
      border-bottom: none;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding-left: 8%;
    padding-right: 8%;
  }
}
