.activities.brief {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  align-items: flex-start;
}

.activity-brief {
  overflow: visible;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

@supports (display: grid) {
  .activity-brief {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto auto;
    grid-template-columns: 1fr;
    align-items: start;
  }
}

.activity-brief .title {
  font-weight: 500;
  font-size: 1.3rem;
}

.activity-brief .row {
  margin-top: .8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-brief .row > .labeled {
  flex-basis: 50%;
}

.activity-brief .labeled .icon {
  flex-shrink: 0;
}

.labeled .content {
  font-size: 1.15rem;
}

.labeled .innopoint {
  margin-bottom: -1px;
}

.activity-brief > .labeled,
.activity-brief .actions {
  margin-top: 1em;
}

.activity-brief .chips {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.activity-brief .chip {
  font-size: .85rem;
  font-weight: 400;
  color: #000;
  margin: 0 .3em .3em 0;
  padding: .4em .7em;
}

.activity-brief > .dropdown-shell {
  margin-top: .5em;
}

.activity-brief .relative-wrapper {
  padding: 1em;
}

.activity-brief .btn.close {
  margin-right: -.7em;
  margin-top: -.7em;
  margin-left: .5em;
}

.activity-brief .dropdown li {
  margin-top: .8em;
}

.activity-brief .row:last-child {
  margin-top: .4em;
}

.activity-brief .application-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: .5em;
  font-weight: 500;
  font-size: 1.1rem;
}

.status-chip {
  color: #fff;
  font-size: .9rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 25px;
  background: #1289a3;
}

.status-chip.bad {
  background: #ba0303;
}

.status-chip.good {
  background: #127800;
}

.activity-brief .application-actions {
  justify-content: flex-end;
}

.activity-brief .application-actions > .btn:first-child {
  margin-right: .5em;
}

@media only screen and (min-width: 360px) {
  .activity-brief .row:last-child {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 420px) {
  .activity-brief {
    max-width: 18em;
    margin-left: .5em;
    margin-right: .5em;
  }
}
