/* This creates a temporary grid of activity cards. To be replaced with a proper
   JS gridding solution on the frontend. */

@media only screen and (min-width: 700px) {
  .activities.user {
    column-count: 2;

    .card {
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .activities.user {
    column-count: 3;
  }
}
