@import "../../global/src/_variables.scss";

.moderators {
  margin: 1em .5em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .name {
    display: flex;
    align-items: baseline;
  }

  .star {
    width: .75em;
    height: .75em;
    stroke-width: 3;
    stroke: $main;
    margin-left: .5em;
  }

  .edit-hours {
    display: flex;
    margin-top: .3em;

    .text-field {
      max-width: 4em;
      margin-right: .5em;
    }
  }
}
