.dialog.notice {
  padding-bottom: 1.5em;
  margin-top: 2em;
}

.drafts {
  display: flex;
  flex-wrap: wrap;
}

.drafts .actions {
  display: flex;
  flex-wrap: wrap;
}

.drafts .card {
  margin-top: 1em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
  max-width: 18em;
}

.drafts .card .title {
  font-size: 1.1rem;
  margin-bottom: 0.3em;
}

.drafts .card .subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}

@media only screen and (min-width: 640px) {
  .drafts .card {
    margin-right: 1em;
  }
}
