.general .form-field {
  flex-direction: column;
  margin-top: 2em;
}

.general .form-field .name {
  margin-bottom: 0.4em;
}

.general .form-field .desc {
  margin-bottom: 1em;
}

.general .form-field .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
}

.general .form-field .image-picker {
  display: flex;
  align-items: flex-start;
}

.general .form-field .uploaded {
  border-radius: 15px;
  flex-shrink: 1;
  width: 80%;
  max-width: 18em;
}

@media only screen and (min-width: 700px) {
  .general .form-field {
    flex-direction: row;
  }

  .general .form-field > div {
    flex-basis: 48%;
  }

  .general .form-field > label {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 840px) {
  .general .form-field > label {
    flex-basis: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .general .form-field {
    max-width: 90%;
  }

  .general .form-field > div {
    flex-basis: 45%;
  }
}
