form {
  padding-left: 10px;
  padding-right: 10px;
}

p + .label {
  margin: 1.5em 0 .5em 5px;
}

.error > .btn {
  display: inline-flex;
}

p {
  font-size: .95rem;
  line-height: 1.3rem;
  margin-top: .5em;
}

p:first-of-type {
  margin-top: 2em;
}

@media only screen and (max-width: 479px) {
  .autocomplete-field .dropdown {
    margin-top: 0;
    margin-left: -10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .autocomplete-field input {
    padding-left: 1em;
  }
}

@media only screen and (min-width: 480px) {
  form {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (min-width: 640px) {
  form {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

@media only screen and (min-width: 640px) {
  form {
    padding-left: 8%;
    padding-right: 8%;
  }
  p + .label {
    margin-top: 4em;
  }
  .autocomplete-field {
    margin-bottom: 3em;
  }
}
