.space-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.space-between.center {
  align-items: center;
}

.container {
  max-width: 1648px;
  margin: auto;
}

.padded {
  padding-left: 1rem;
  padding-right: 1rem;
}

.link-bottom {
  font-size: 1.05rem;
  line-height: 1.4rem;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.innopoint {
  stroke: #000;
  margin-left: .2em;
  stroke-width: 5;
}

@media only screen and (min-width: 640px) {
  .padded {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 840px) {
  .padded {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.shadow-1 {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
}

.shadow-2 {
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0    rgba(0, 0, 0, .14),
    0 1px 10px 0   rgba(0, 0, 0, .12);
}

.ml {
  margin-left: .4em;
}

.mr {
  margin-right: .4em;
}

.mt {
  margin-top: .4em;
}

.mb {
  margin-bottom: .4em;
}

.ml-2 {
  margin-left: 1em;
}

.mr-2 {
  margin-right: 1em;
}

.mr-1-5 {
  margin-right: .7em;
}

.mt-2 {
  margin-top: 1em;
}

.mb-2 {
  margin-bottom: 1em;
}

.lb {
  display: inline-block;
}

.hide-tb {
  display: none;
}

.btn-align {
  padding-left: .2rem;
  padding-right: .2rem;
}

.btn-shift {
  margin-left: -.8rem;
}

@media only screen and (min-width: 640px) {
  .hide-tb {
    display: block;
  }

  .show-mb {
    display: none;
  }
}
