.material > header {
  height: 3.5em;
  border-bottom: 1px solid rgba(56, 120, 0, .24);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material > header .logo {
  color: #387800;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
}

.material > header .actions {
  display: flex;
}

@media only screen and (min-width: 640px) {
  .material > header .hide-tb {
    margin-left: .6em;
  }

  .material > header .logo {
    display: flex;
    align-items: center;
  }
}
