/* Badges -------------------------------------- */

.badge {
  position: relative;
}

.badge::after {
  position: absolute;
  top: -3px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5757;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0    rgba(0, 0, 0, .14),
    0 1px 10px 0   rgba(0, 0, 0, .12);
  content: "";
}

/* Typography -------------------------------------- */

.headline {
  color: #387800;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .2em;
}

.subhead {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.2rem;
}

h1 {
  color: #387800;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 .5em 0;
}

h2 {
  color: #387800;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 0 .4em 0;
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0 0 .3em 0;
}

p {
  margin: 0;
  line-height: 1.2em;
}

strong {
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  color: #387800;
  font-weight: 500;
  font-size: .8rem;
}

.label.small {
  font-size: .7rem;
}

a {
  color: #387800;
}

a:visited {
  color: #9f00b2;
}

@media only screen and (min-width: 640px) {
  .headline {
    font-size: 1.9rem;
  }

  .subhead {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  h1 {
    font-size: 1.55rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 840px) {
  .headline {
    font-size: 2rem;
  }

  .subhead {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headline {
    font-size: 2.1rem;
  }

  .subhead {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .headline {
    font-size: 2.2rem;
  }
}

/* Buttons -------------------------------------- */

.btn {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 1rem;
  color: #387800;
  text-decoration: none;
  outline: none;
  background: none;
  padding: .7em 1em;
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn:visited {
  color: #387800;
}

.btn.normal {
  color: #333;
}

button.btn {
  border: none;
}

.btn.filled {
  background-color: #387800;
  color: #fff;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
}

.btn.filled:hover:not(:disabled), .btn.filled:focus {
  background-color: #3d8200;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0    rgba(0, 0, 0, .14),
    0 1px 10px 0   rgba(0, 0, 0, .12);
}

.btn.filled:focus:not(:disabled) {
  background-color: #449200;
}

.btn.outline {
  border: 1px solid #387800;
}

.btn.outline.normal {
  border-color: #333;
}

.btn:hover:not(:disabled), .btn.outline:hover:not(:disabled) {
  background-color: rgba(56, 120, 0, .05);
}

.btn.normal:hover:not(:disabled), .btn.outline.normal:hover:not(:disabled) {
  background-color: rgba(0, 0, 0, .05);
}

.btn.outline:focus:not(:disabled), .btn:focus:not(:disabled) {
  background-color: rgba(56, 120, 0, .12);
}

.btn.outline.normal:focus:not(:disabled), .btn.normal:focus:not(:disabled) {
  background-color: rgba(0, 0, 0, .12);
}

.btn:disabled {
  color: #888;
  background-color: transparent;
  cursor: default;
}

.btn.filled:disabled {
  background-color: #d7d7d7;
  box-shadow: none;
}

.btn.outline:disabled {
  border-color: #d7d7d7;
}

.btn.round {
  padding: .7em;
}

.btn.danger {
  color: #ba0303;
}

.btn.filled.danger {
  background-color: #ba0303;
  color: #fff;
}

.btn.filled.danger:hover:not(:disabled) {
  background-color: #c40303;
}

.btn.filled.danger:focus:not(:disabled) {
  background-color: #cf0303;
}

.btn.outline.danger {
  border: 1px solid #ba0303;
}

.btn.danger:hover:not(:disabled), .btn.outline.danger:hover:not(:disabled) {
  background-color: rgba(186, 3, 3, .05);
}

.btn.outline.danger:focus:not(:disabled), .btn.danger:focus:not(:disabled) {
  background-color: rgba(186, 3, 3, .12);
}

.btn > svg {
  stroke: #387800;
}

.btn.danger > svg {
  stroke: #ba0303;
}

.btn.normal > svg {
  stroke: #000;
}

.btn.filled > svg {
  stroke: #fff;
}

/* Text Fields -------------------------------------- */

input, textarea {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  top: 1px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 3px solid transparent;
  background: url('../../images/events/x.svg');
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.text-field input,
.text-field textarea {
  padding: 0 10px 1px;
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  border: 0 solid rgba(0, 0, 0, .42);
  border-bottom-width: 1px;
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 2.8em;
}

.text-field textarea {
  padding: 12px 10px 1px;
  height: 6em;
}

.text-field input:hover,
.text-field textarea:hover {
  background-color: #ededed;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
textarea:focus {
  background-color: #e1e1e1;
  border-bottom-width: 2px;
  border-color: #3d8200;
  padding-bottom: 0;
}

.text-field.with-item {
  position: relative;
}

.text-field.with-item.left {
  flex-direction: row-reverse;
}

.text-field.with-item.right input,
.text-field.with-item.right textarea {
  padding-right: 30px;
  text-align: right;
}

.text-field.right-align input {
  text-align: right;
}

.text-field.with-item.left input,
.text-field.with-item.left textarea {
  padding-left: 3rem;
}

.text-field.with-item input[type="number"] {
  -moz-appearance: textfield;
}

.text-field.with-item input::-webkit-outer-spin-button,
.text-field.with-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-field.with-item > .item {
  height: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
}

.text-field.with-item.right > .item {
  right: 10px;
}

.text-field.with-item.left > .item {
  left: 10px;
  color: rgba(0, 0, 0, .5);
  font-weight: 500;
}

.text-field.with-item.left > input:focus + .item,
.text-field.outline.with-item.left > input:focus ~ .item {
  color: #387800;
}

.text-field.with-item.right > input:focus + .item svg {
  stroke: #387800;
}

.text-field.outline {
  position: relative;
}

.text-field.outline label {
  background-color: #fff;
  color: rgba(0, 0, 0, .42);
  padding: 0 4px;
  position: absolute;
  top: 0;
  left: 1.4rem;
  transform: translate(-4px, -55%);
  border-radius: 5px;
}

.text-field.outline.with-item.left input {
  padding-left: 2.2rem;
}

.text-field.outline.with-item.left label {
  left: 2.2rem;
}

.text-field.outline.with-item.left svg {
  stroke: rgba(0, 0, 0, .42);
}

.text-field.outline input {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, .42);
  background-color: transparent;
  padding: 0 1.4rem;
}

.text-field.outline input:hover {
  border-color: rgba(0, 0, 0, .7);
}

.text-field.outline input:hover + label {
  color: rgba(0, 0, 0, .7);
}

.text-field.outline input:focus {
  border-color: #387800;
}

.text-field.outline input:focus + label {
  color: #387800;
}

.text-field.outline input:focus ~ .item svg {
  stroke: #387800;
}

:invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

.text-field.outline input:invalid {
  border-color: rgba(186, 3, 3, .7);
}

.text-field.outline input:invalid + label {
  color: rgba(186, 3, 3, .7);
}

.text-field.outline input:invalid ~ .item svg {
  stroke: rgba(186, 3, 3, .7);
}

.text-field > .error {
  display: none;
  font-size: .8rem;
  color: rgba(186, 3, 3, .7);
  font-weight: 500;
  position: absolute;
  bottom: -1.5rem;
}

.text-field.outline > input:invalid ~ .error {
  display: inline;
}

.text-field.no-spinner > input[type="number"]::-webkit-inner-spin-button,
.text-field.no-spinner > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
}

.form-field label {
  display: flex;
  flex-direction: column;
}

.form-field .name {
  font-size: 1.2rem;
  margin-bottom: .2em;
}

.form-field .required {
  color: #387800;
}

.form-field .text-field + .required {
  padding-left: 10px;
}

.text-field + .required {
  margin: 5px 0 0 0;
  font-size: .8rem;
}

.form-field .desc {
  font-weight: 300;
  font-size: .9rem;
}

.form-field .text-field-wrapper .text-field {
  width: 100%;
  margin-bottom: 5px;
}

.form-field .text-field-wrapper .text-field:only-child {
  margin-bottom: 20px;
}

/* Radio Buttons -------------------------------------- */

.radio {
  position: relative;
}

.radio > input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.radio > .icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #ddd;
}

.radio > input:checked + .icon {
  background-color: #387800;
  border-color: #387800;
}

.radio > input:checked + .icon::before {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radio > .icon::after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radio:hover > .icon::after {
  background-color: rgba(0, 0, 0, .05);
}

.radio:hover > input:checked + .icon::after {
  background-color: rgba(56, 120, 0, .05);
}

.radio > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, .125);
}

.radio > input:focus:checked + .icon::after {
  background-color: rgba(56, 120, 0, .125);
}

.radio.colored:hover > input + .icon::after,
label:hover .radio.colored > input + .icon::after {
  background-color: rgba(0, 0, 0, .05);
  background-color: rgba(var(--r), var(--g), var(--b), .05);
}

.radio.colored > input:focus + .icon::after,
label:hover .radio.colored > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, .125);
  background-color: rgba(var(--r), var(--g), var(--b), .125);
}

/* Checkboxes -------------------------------------- */

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox > input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.checkbox > .icon {
  border-radius: 4px;
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.checkbox.round > .icon {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.checkbox > input:checked + .icon {
  background-color: #387800;
  border-color: #387800;
}

.checkbox > input:checked + .icon::before {
  width: 9px;
  height: 6px;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  content: "";
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%) rotate(-57deg) skew(-11deg);
  border-bottom-left-radius: 2px;
}

.checkbox > .icon::after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:hover > .icon::after,
label:hover .checkbox > .icon::after {
  background-color: rgba(0, 0, 0, .05);
}

.checkbox:hover > input:checked + .icon::after,
label:hover .checkbox > input:checked + .icon::after {
  background-color: rgba(56, 120, 0, .05);
}

.checkbox > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, .125);
}

.checkbox > input:focus:checked + .icon::after,
label:hover .checkbox > input:focus:checked + .icon::after {
  background-color: rgba(56, 120, 0, .125);
}

.clickable {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.with-labels .checkbox {
  margin-right: 12px;
}

.checkbox.colored:hover > input + .icon::after,
label:hover .checkbox.colored > input + .icon::after {
  background-color: rgba(0, 0, 0, .05);
  background-color: rgba(var(--r), var(--g), var(--b), .05);
}

.checkbox.colored > input:focus + .icon::after,
label:hover .checkbox.colored > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, .125);
  background-color: rgba(var(--r), var(--g), var(--b), .125);
}

/* Switches -------------------------------------- */

.switch {
  position: relative;
  width: 32px;
  height: 18px;
  border-radius: 12px;
  border: 2px solid #999;
  cursor: pointer;
}

.switch.two-state {
  border-color: #387800;
}

input.switch-ctl {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.switch > .knob {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: transform 100ms;
}

.switch.two-state > .knob {
  background-color: #387800;
}

input:checked ~ .switch {
  border-color: #387800;
}

input:checked ~ .switch > .knob {
  background-color: #387800;
  transform: translateY(-50%) translateX(100%);
}

.switch::before {
  width: 52px;
  height: 38px;
  border-radius: 18px;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.switch:hover::before,
label:hover .switch::before {
  background-color: rgba(0, 0, 0, .05);
}

input:checked ~ .switch:hover::before,
label:hover input:checked ~ .switch::before,
.switch.two-state:hover::before,
label:hover .switch.two-state::before {
  background-color: rgba(56, 120, 0, .05);
}

input:focus ~ .switch::before {
  background-color: rgba(0, 0, 0, .1);
}

input:focus:checked ~ .switch::before,
label:hover input:focus:checked ~ .switch::before,
input:focus ~ .switch.two-state::before,
label:hover input:focus ~ .switch.two-state::before {
  background-color: rgba(56, 120, 0, .1);
}

.switch-wrapper .state {
  color: #999;
  font-weight: 500;
}

.switch-wrapper .state.first {
  margin-right: .8em;
}

.switch-wrapper .state.second {
  margin-left: .8em;
}

.switch-wrapper input:not(:checked) ~ .first {
  color: #387800;
}

.switch-wrapper input:checked ~ .second {
  color: #387800;
}

/* Cards -------------------------------------- */

.card {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5em;
  overflow: hidden;
}

.card.with-image {
  padding: 0;
}

.card.with-image > .image {
  width: 100%;
}

.card.with-image > .content {
  padding: 1em 1.5em;
}

.card.with-image .title {
  font-size: 1.25rem;
  font-weight: 400;
}

.card.with-image .subtitle {
  font-size: 1rem;
  font-weight: 300;
}

/* Chips -------------------------------------- */

.chip-wrapper > input {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.chip {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, .08);
  color: #656565;
  padding: .6em .9em;
  font-weight: 500;
}

.chip:not(.unclickable) {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.chip.small {
  padding: .5em;
  font-size: .9rem;
  min-width: .9rem;
  text-align: center;
}

.chip.outline {
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
}

.chip.unclickable.outline {
  border-color: #387800;
}

input:disabled + .chip {
  background-color: rgba(0, 0, 0, .03);
  color: #aaa;
  cursor: default;
}

input:disabled + .chip:hover {
  background-color: rgba(0, 0, 0, .03);
}

input + .chip:hover {
  background-color: rgba(0, 0, 0, .13);
}

input + .chip.outline:hover {
  background-color: rgba(0, 0, 0, .06);
}

input:focus + .chip {
  background-color: rgba(0, 0, 0, .18);
}

input:focus + .chip.outline {
  background-color: rgba(0, 0, 0, .1);
}

input:checked + .chip {
  background-color: rgba(56, 120, 0, .12);
  color: #387800;
}

input:checked + .chip.outline {
  background-color: rgba(56, 120, 0, .06);
  color: #387800;
  border-color: #387800;
}

input:focus:checked + .chip {
  background-color: rgba(56, 120, 0, .25);
}

input:focus:checked + .chip.outline {
  background-color: rgba(56, 120, 0, .12);
}

input[type="checkbox"] + .chip {
  position: relative;
}

input[type="checkbox"]:checked + .chip {
  padding-left: 2em;
}

input[type="checkbox"] + .chip::before {
  border: 0 solid #387800;
  content: "";
}

input[type="checkbox"]:checked + .chip::before {
  width: 5px;
  height: 9px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  left: .9em;
  top: 45%;
}

/* Dialogs -------------------------------------- */

.dialog {
  border-radius: 25px;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
  padding: 1.6em 2em 1em;
  position: relative;
  background-color: #fff;
}

.dialog .title {
  display: flex;
  align-items: flex-end;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: .7em;
  color: #387800;
}

.dialog > .btn.close {
  position: absolute;
  top: .7em;
  right: .7em;
}

.dialog .title > .icon,
.dialog .message > .icon {
  margin-right: .5em;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.dialog .message > .icon {
  margin-right: .7em;
}

.dialog .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: .9em;
}

.dialog .actions > button {
  margin-left: .5em;
}

.dialog.danger .title {
  color: #ba0303;
}

.dialog svg {
  stroke: #387800;
}

.dialog.danger svg {
  stroke: #ba0303;
}

.dialog.notice {
  box-shadow: none;
  border: 1px solid #387800;
  padding: 1em 1.5em .6em;
}

.dialog.notice p {
  margin-top: .3em;
}

.dialog.notice .message {
  display: flex;
  align-items: flex-start;
}

/* Carousel -------------------------------------- */

.carousel {
  position: relative;
}

.carousel .curr-slide > img {
  width: 100%;
}

.carousel .slides {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel .slide > input {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.carousel .slide > .icon {
  border-radius: 25px;
  height: 7px;
  width: 1.2em;
  background-color: rgba(0, 0, 0, .2);
  margin: 0 3px;
  cursor: pointer;
}

.carousel .slide > .icon:hover {
  background-color: rgba(0, 0, 0, .28);
}

.carousel .slide > input:checked + .icon {
  background-color: rgba(255, 255, 255, .3);
  background-color: rgba(var(--r), var(--g), var(--b), .3);
}

.carousel .slide > input:checked + .icon:hover {
  background-color: rgba(255, 255, 255, .6);
  background-color: rgba(var(--r), var(--g), var(--b), .6);
}

.carousel .slide > input:focus + .icon {
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(var(--r), var(--g), var(--b), 1);
}

.carousel .prev-slide,
.carousel .next-slide {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, .25);
  transform: translateY(-50%);
  padding: .4em;
}

.carousel .prev-slide:hover,
.carousel .next-slide:hover {
  background-color: rgba(0, 0, 0, .32);
}

.carousel .prev-slide:focus,
.carousel .next-slide:focus {
  background-color: rgba(0, 0, 0, .4);
}

.carousel .prev-slide {
  left: 10px;
}

.carousel .next-slide {
  right: 10px;
}

.carousel .prev-slide svg,
.carousel .next-slide svg {
  stroke: #fff;
}

/* Labeled Elements -------------------------------------- */

.labeled {
  display: flex;
}

.labeled .text {
  display: flex;
  flex-direction: column;
}

.labeled.text {
  flex-direction: column;
}

.labeled .label {
  margin-bottom: .2em;
}

.labeled > .icon {
  margin-right: .4em;
  margin-top: 1rem;
  height: 24px;
  width: 24px;
}

.labeled > .icon svg {
  stroke: #387800;
}

/* Dropdowns -------------------------------------- */

.dropdown-shell, .relative-wrapper {
  position: relative;
}

.dropdown-shell > .handle > .chevron {
  margin-left: .5em;
  margin-bottom: -2px;
}

.dropdown {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  background-color: white;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0    rgba(0, 0, 0, .14),
    0 1px 5px 0    rgba(0, 0, 0, .12);
  border-radius: 20px;
  z-index: 100;
  margin-top: 5px;
}

.dropdown-shell.open .dropdown {
  clip: auto;
  height: auto;
  width: auto;
}

.dropdown.right-edge {
  right: 0;
}

.dropdown-shell.open > .handle {
  background-color: rgba(56, 120, 0, .12);
}

.dropdown-shell > .handle > .chevron {
  transition: transform 100ms;
}

.dropdown-shell.open > .handle > .chevron {
  transform: rotate(180deg);
}

.dropdown .btn.close {
  position: absolute;
  top: .7em;
  right: .7em;
}

/* Timelines -------------------------------------- */

.timeline .entry {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1.5em;
  position: relative;
}

.timeline .entry:last-child {
  padding-bottom: 0;
}

.timeline .more {
  display: flex;
  position: relative;
  border: none;
  background: none;
  outline: none;
  align-items: center;
  font-family: 'Ubuntu';
  font-weight: 500;
  color: #387800;
  font-size: 1rem;
  padding: 0 7px;
  cursor: pointer;
}

.timeline .more svg {
  stroke: #387800;
}

.timeline .more::-moz-focus-inner {
  border: 0;
}

.timeline .more::before {
  position: absolute;
  top: -20%;
  left: -5%;
  width: 120%;
  height: 140%;
  content: "";
  border-radius: 25px;
}

.timeline .more:hover::before {
  background-color: rgba(56, 120, 0, .05);
}

.timeline .more:focus::before {
  background-color: rgba(56, 120, 0, .12);
}

.timeline .entry:not(:last-child)::before {
  content: "";
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  left: 24px;
  width: 2px;
  background-color: #ddd;
}

.timeline .entry > .icon {
  border-radius: 50%;
  padding: 12px;
  border: 1px solid #387800;
  margin-right: 1em;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.timeline .entry > .icon svg {
  stroke: #387800;
  width: 100%;
  height: 100%;
  stroke-width: 1.5;
}

.timeline .more > .icon {
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #387800;
  margin-right: 1em;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.timeline .entry.important > .icon {
  border-width: 3px;
  border-color: #f2994a;
  padding: 10px;
}

.timeline .entry.important > .icon svg {
  stroke: #f2994a;
}

.timeline .entry > .icon > img,
.timeline .more > .icon > img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 750px) {
  .timeline .more {
    font-size: 1.1rem;
    padding: 0 8px;
    margin-left: 3px;
  }

  .timeline .entry:not(:last-child)::before {
    height: calc(100% - 64px);
    top: 64px;
    left: 31px;
  }

  .timeline .entry > .icon {
    padding: 16px;
    margin-right: 1.3em;
    width: 64px;
    height: 64px;
  }

  .timeline .more > .icon {
    padding: 8px;
    margin-right: 1.3em;
    width: 40px;
    height: 40px;
  }

  .timeline .entry.important > .icon {
    padding: 14px;
  }

  .timeline .entry {
    padding-bottom: 2.5em;
  }
}

/* Accordions -------------------------------------- */

.accordion > section {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.accordion > .panel.open + section {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.accordion > .panel .chevron {
  transition: transform 100ms;
  margin-bottom: -2px;
}

.accordion > .panel.open .chevron {
  transform: rotate(180deg);
}

/* Dots -------------------------------------- */

.dot {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  margin-left: .8em;
}

.dot.small {
  width: .6em;
  height: .6em;
}

.dot.new {
  background-color: #86d3ff;
}

.dot.attention {
  background-color: #ffb359;
}

.dot.active {
  background-color: rgba(56, 120, 0, .7);
}
