.material {
  background-color: #fff;
  clip-path:
    polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
}

footer {
  background-color: #5c5c5c;
  padding: 20px 1em 0;
  color: #fff;
  margin-top: -20px;
}

footer > .to-top {
  transform: translateY(-50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer > .container {
  flex-direction: column;
}

footer .left {
  flex-direction: column;
  margin-bottom: 2em;
}

footer .logo {
  width: 4em;
  height: 4em;
}

footer .title {
  font-weight: 500;
  color: #fff;
  font-size: 1.7rem;
  margin: 0 .5em;
}

footer .title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer .socials {
  padding: 0 10%;
  margin-top: .8em;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: #effad7;
}

footer .credits {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  margin-top: 2em;
}

footer .right {
  display: flex;
  justify-content: center;
}

footer .right > img {
  display: none;
}

footer .right > nav {
  width: 90%;
}

footer .search {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #585858;
  font-weight: 300;
  padding: .7em 1.3em;
  margin-top: 1em;
}

footer ul {
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 1em;
  margin: 1em 0;
}

footer ul li {
  line-height: 2rem;
}

footer ul > li::before {
  content: "‣";
  padding-right: .5em;
  color: #fff;
}

@media only screen and (min-width: 385px) {
  footer {
    padding: 20px 3em 0;
  }

  footer .right > nav {
    width: 95%;
  }
}

@media only screen and (min-width: 640px) {
  footer ul {
    font-size: 1.2rem;
  }

  footer .credits {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 750px) {
  footer > .container {
    flex-direction: row;
  }

  footer .left {
    margin-bottom: 4rem;
  }

  footer .title-container {
    justify-content: flex-start;
  }

  footer .socials {
    padding: 0;
    margin-top: 0;
  }

  footer .credits {
    text-align: left;
    margin-top: 0;
  }

  footer .right {
    justify-content: flex-start;
  }

  footer .right > .pointer {
    display: block;
    margin-right: .5rem;
    max-width: 35%;
  }

  footer .search {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 900px) {
  footer .search {
    width: 16em;
  }

  footer .right > .pointer {
    width: 9em;
  }
}

@media only screen and (min-width: 1024px) {
  footer .title {
    font-size: 2rem;
  }

  footer .search {
    font-size: 1.2rem;
    width: 14em;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    padding: 20px 10% 0;
  }
}

@media only screen and (min-width: 1600px) {
  footer .search {
    width: 18em;
  }
}
