header.default {
  padding: 0 1.3rem;
  height: 4rem;
  border-bottom: 1px solid #387800;
  margin: 0 auto;
}

header.default > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header.default .logo > img {
  height: 75%;
}

@media only screen and (min-width: 501px) {
  header.default .btn {
    font-size: 1em;
  }
}

@media only screen and (min-width: 640px) {
  header.default {
    padding: 0 3rem;
  }

  header.default .logo {
    display: flex;
    align-items: center;
  }

  header.default span {
    font-size: 1.4em;
    font-weight: 500;
    color: #387800;
  }

  header.default .logo > img {
    margin-right: 1rem;
  }
}
