.activity.finalizing .actual-hours {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.activity.finalizing .actual-hours .text-field > input {
  width: 3em;
  margin-left: 2em;
}

.activity.finalizing .btn.report {
  margin-top: 1em;
  flex-shrink: 0;
}

.activity.finalizing .btn.report .icon {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .activity.finalizing .right {
    padding-top: 0;
  }
  .activity.finalizing .panel .btn.feedback, .activity.finalizing .panel .reward, .activity.finalizing .panel .hours {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 1024px) {
  @supports (display: grid) {
    .activity.finalizing .right {
      grid-column: 2 / 4;
    }
    .activity.finalizing .right .panel {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      align-items: start;
      justify-items: start;
    }
    .activity.finalizing .right .panel.no-feedback .reward {
      grid-column: 3 / 4;
    }
    .activity.finalizing .right .panel.no-feedback .hours {
      justify-self: end;
    }
    .activity.finalizing .right .panel .name {
      grid-row: 1 / 2;
    }
    .activity.finalizing .right .panel .telegram {
      grid-row: 2 / 3;
    }
    .activity.finalizing .right .panel .actual-hours {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      margin-top: 0;
      justify-self: center;
    }
    .activity.finalizing .right .panel .handle {
      grid-column: 3 / 4;
      grid-row: 1 / 3;
    }
    .activity.finalizing .right .btn.feedback {
      grid-row: 1 / 3;
    }
    .activity.finalizing .right .panel + section {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .activity.finalizing .right .panel + section .btn.outline {
      margin-left: 1em;
      margin-top: 0;
    }
  }
}
