.activity.moderated .left, .activity.moderated .middle {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.activity.moderated .middle, .activity.moderated .right {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.activity.moderated header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity.moderated .actions {
  display: flex;
  flex-wrap: wrap;
}

.activity.moderated .actions .btn {
  margin-bottom: .3em;
}

.activity.moderated .actions .btn > .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.activity.moderated .left > .labeled,
.activity.moderated .actions {
  margin-top: 1em;
}

.activity.moderated .panel {
  margin-top: .8em;
  margin-left: .5em;
  padding-top: 1em;
}

.activity.moderated .panel:not(:first-of-type) {
  border-top: 1px solid #ddd;
}

.activity.moderated .panel .name {
  margin-bottom: .3em;
}

.activity.moderated .panel > .handle {
  float: right;
}

.activity.moderated .panel + section {
  padding-top: 1em;
  padding-left: .3em;
}

.activity.moderated .stars .star {
  stroke: #127800;
  width: 1.125rem;
  height: 1.125rem;
  margin: 0 1px;
}

.activity.moderated .stars .star.off {
  stroke: #ddd;
}

.activity.moderated .empty {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.activity.moderated .empty .title {
  color: #127800;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: .3em;
  margin-top: .5em;
}

.activity.moderated .empty .icon img {
  width: 5em;
}

.activity.moderated .telegram {
  font-size: .9rem;
}

.activity.moderated .username-link {
  color: #127800;
  font-size: 1rem;
  text-decoration: underline;
}

.activity.moderated .left .description {
  white-space: pre-line;
}

@media only screen and (min-width: 640px) {
  @supports (display: grid) {
    .activity.moderated {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
    }
    .activity.moderated .middle {
      padding-top: .5em;
    }
    .activity.moderated .right {
      padding-top: 1.5em;
    }
    .activity.moderated .left {
      grid-row-start: 1;
      grid-row-end: 3;
      border-bottom-width: 0 !important;
      border-right: 1px solid #ddd;
      padding-right: 1em;
    }
    .activity.moderated .middle, .activity.moderated .right {
      margin-left: 1em;
    }
  }
}

@media only screen and (min-width: 1024px) {
  @supports (display: grid) {
    .activity.moderated {
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .activity.moderated .right {
      padding-top: .5em;
    }
    .activity.moderated .left {
      grid-row-end: 2;
    }
    .activity.moderated .middle {
      border-bottom-width: 0 !important;
      border-right: 1px solid #ddd;
      padding-right: 1em;
    }
  }
  .empty {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
