@import "../global/_variables.scss";
@import "../global/_mixins.scss";

.activity {
  margin-bottom: 1em;
  padding-bottom: 1em;

  .title {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: .2px;
  }

  .row {
    margin-top: .8em;
    display: flex;
    justify-content: space-between;

    & > .labeled {
      flex-basis: 50%;
    }
  }

  .chips {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;

    .chip {
      font-size: .85rem;
      font-weight: 400;
      color: black;
      margin: 0 .3em .3em 0;
      padding: .4em .7em;
    }
  }

  .labeled {
    font-size: 1.05rem;

    .icon {
      margin-top: .7em;
      flex-shrink: 0;
    }

    .content {
      font-size: 1.15rem;

      &.secondary {
        font-size: .9rem;
        font-weight: 300;

        @include hide-accessible;
      }
    }

    .innopoint {
      margin-bottom: -1px;
    }
  }

  .with-icon {
    display: flex;
    align-items: flex-start;
    font-size: .9rem;
    margin-top: .3em;

    & > .icon {
      width: 1.25rem;
      height: 1.25rem;
      flex-shrink: 0;
      stroke: $main;
      margin-right: .3em;
    }
  }
}
