.activity-brief {
  overflow: visible;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.activity-brief .title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: .2px;
}

.activity-brief .labeled {
  font-size: 1.05rem;
}

.activity-brief .labeled .icon {
  margin-top: .7em;
  flex-shrink: 0;
}

.activity-brief .labeled .content.secondary {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.activity-brief .application-status {
  font-size: .9em;
  font-weight: 300;
  margin-top: 1em;
}

.activity-brief .application-status .dot {
  margin-right: .3em;
  margin-left: 0;
}

.activity-brief .row {
  margin-top: .8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.activity-brief .row > .labeled {
  flex-basis: 50%;
}

.activity-brief .additional {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.activity-brief .chevron {
  transition: transform 100ms;
}

.activity-brief.expanded .chevron {
  transform: rotate(180deg);
}

.activity-brief.expanded .row.info {
  flex-direction: column;
  align-items: flex-start;
}

.activity-brief.expanded .row.info .labeled:last-child {
  margin-top: .8em;
}

.activity-brief.expanded .labeled .content.primary {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.activity-brief.expanded .labeled .content.secondary,
.activity-brief.expanded .additional {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.activity-brief.expanded .description,
.activity-brief.expanded .chips,
.activity-brief.expanded .volunteers {
  margin-top: .8em;
}

.activity-brief.expanded .description .content {
  font-size: .95rem;
}

.activity-brief.expanded .chips {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.activity-brief.expanded .chip {
  font-size: .85rem;
  font-weight: 400;
  color: #000;
  margin: 0 .3em .3em 0;
  padding: .4em .7em;
}

.activity-brief.expanded .volunteers ul {
  list-style: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.activity-brief.expanded .volunteers ul li {
  margin-top: .5em;
}

.activity-brief.expanded .volunteers ul strong {
  margin-top: .8em;
  display: block;
}

.activity-brief.expanded .application {
  border-top: 1px solid #ddd;
  padding-top: .8em;
  font-weight: 300;
}

.activity-brief.expanded .application .with-icon {
  margin-top: .5em;
}

.activity-brief.expanded .not-logged-in {
  align-self: center;
  font-weight: 300;
}

.activity-brief .with-icon {
  display: flex;
  align-items: flex-start;
  font-size: .9rem;
  margin-top: .3em;
}

.activity-brief .with-icon > .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  stroke: #127800;
  margin-right: .3em;
}

.labeled .innopoint {
  margin-bottom: -1px;
}

@media only screen and (max-width: 379px) {
  .volunteers .icon {
    display: none;
  }
}

@media screen and (min-width: 420px) and (max-width: 679px), (min-width: 1024px) and (max-width: 1199px), (min-width: 1400px) {
  .activity-brief .row > .labeled:first-child {
    flex-basis: 40%;
  }
  .activity-brief .row > .labeled:last-child {
    flex-basis: 60%;
  }
  .activity-brief:not(.expanded) .labeled .content.secondary {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    font-size: .95rem;
    font-weight: 300;
  }
  .activity-brief.expanded .row.info {
    flex-direction: row;
  }
  .activity-brief.expanded .row.info > .labeled:last-child {
    margin-top: 0;
  }
}
