.apply-modal form {
  margin-top: .5em;
}

.apply-modal .label {
  margin-bottom: .7em;
  margin-top: 1em;
  display: block;
}

.apply-modal .text-field-wrapper {
  margin-bottom: .6em;
}

.apply-modal .text-field-wrapper .required {
  margin-left: 10px;
  color: #127800;
  font-size: .8rem;
}

.apply-modal .with-item.left input {
  padding-left: 2.5em;
  max-width: 15em;
}

.apply-modal .with-item.left .item {
  height: 1.2em;
  width: 1.2em;
  stroke-width: 1.4;
}

.apply-modal label.clickable {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
}

.apply-modal label.clickable .checkbox {
  margin-right: .5em;
}

.apply-modal .error {
  color: #ab0303;
  font-size: .9rem;
}

@media only screen and (min-width: 520px) {
  @supports (display: grid) {
    .apply-modal form {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
    }
    .apply-modal form .with-item.left {
      margin-bottom: 0;
    }
    .apply-modal form .title, .apply-modal form .label, .apply-modal form .comment-field {
      grid-column: 1 / 4;
    }
    .apply-modal form label.clickable {
      margin: 0 2em;
    }
    .apply-modal form .actions {
      margin-top: 0;
    }
  }
}
