@import "../global/_variables.scss";
@import "../global/_mixins.scss";

.dialog {
  ul.actual li {
    margin-bottom: .25em;
  }

  & > p {
    margin-top: .5em;
  }
}

.report-form {
  & > label {
    margin-top: 1em;
    margin-bottom: .5em;
    display: block;
    line-height: 1.3rem;
  }

  & > label:first-child {
    margin-top: 0;
  }

  .actions {
    margin-top: .5em;
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 359px) {
  .dialog {
    padding: 1.2em;
  }
}
