.material {
  padding-bottom: 3em;
}

h2.padded {
  text-align: center;
  margin-bottom: 0;
  margin-top: 2em;
}

.project-header {
  margin-bottom: 1.5em;
}

.project-header .cover-image {
  width: 100%;
}

.project-header h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.project-header h1 .status-chip {
  display: inline-block;
  padding: .3em .6em;
  border-radius: 1em;
  background: #127800;
  font-weight: 500;
  color: #fff;
  font-size: .9rem;
  margin-left: .5em;
}

.project-header .info {
  margin: 0 calc(1em - 2px);
  padding: 0 4px 1.5em;
  border-bottom: 1px solid #ddd;
}

.project-header .labeled {
  align-items: flex-end;
  margin-top: 1em;
  margin-right: 2.5em;
  font-size: 1.05rem;
}

.project-header .labeled .secondary {
  display: block;
  margin-top: .2em;
}

.project-header .icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-bottom: -2px;
  flex-shrink: 0;
  align-self: flex-start;
}

.project-header .actions {
  display: flex;
  flex-wrap: wrap;
}

.project-header .actions .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.project-header .actions .btn.filled {
  margin-top: 1em;
}

.project-header .actions .btn.outline {
  margin-top: 1em;
  margin-right: .5em;
}

.project-header.wrap .data-points {
  display: flex;
  flex-wrap: wrap;
}

.activities {
  margin-top: 1em;
}

.activities.moderated + .btn {
  margin-left: .5em;
  margin-top: 1em;
}

.dialog ul.actual li {
  margin-bottom: .25em;
}

.dialog > p {
  margin-top: .5em;
}

.reports {
  margin-top: 1.5em;
  font-size: .95rem;
}

.reports .report {
  padding-top: 1em;
}

.reports .report:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.reports .data-points {
  display: flex;
  flex-direction: column;
}

.reports .data-points .labeled:first-child {
  margin-bottom: 1em;
}

.reports .data-points a {
  display: inline-block;
}

.reports .data-points .icon {
  flex-shrink: 0;
}

.reports .feedback {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 1em;
}

.reports .feedback .stars {
  margin-bottom: .5em;
  flex-shrink: 0;
}

.reports .feedback .stars .star {
  width: 1rem;
  height: 1rem;
}

.reports .labeled > .icon {
  margin-top: .6rem;
}

.star {
  stroke: #127800;
}

.star.off {
  stroke: #ddd;
}

.report-form > label {
  margin-top: 1em;
  margin-bottom: .5em;
  display: block;
  line-height: 1.3rem;
}

.report-form > label:first-child {
  margin-top: 0;
}

.report-form .actions {
  margin-top: .5em;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 359px) {
  .dialog {
    padding: 1.2em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 699px) {
  .project-header {
    background: var(--image-url);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
  }
  .project-header h1 {
    margin-top: 1.5em;
  }
  .project-header .cover-image {
    display: none;
  }
  .project-header .info {
    width: 60%;
    background: linear-gradient(to left, #fff 0%, white 90%, rgba(255, 255, 255, 0) 100%);
    margin: 0;
    padding-left: 4em;
    padding-right: 1em;
    border-bottom: none;
  }
}

@media only screen and (min-width: 700px) {
  .project-header {
    display: flex;
    margin-top: 1em;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .project-header .cover-image {
    width: 40%;
    max-width: 25em;
    border-radius: 1em;
    margin: 1em 1em 1em 0;
    object-fit: cover;
  }
  .project-header .info {
    border-bottom: none;
  }
  .material > .moderated + .btn {
    margin-left: 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .reports .data-points, .reports .feedback {
    flex-direction: row;
  }
  .reports .data-points .labeled:first-child {
    margin-right: 10%;
  }
  .reports .feedback .stars {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .project-header {
    padding-left: 8%;
    padding-right: 8%;
  }
  .material > .moderated + .btn {
    margin-left: 8%;
  }
}
