.material {
  padding-bottom: 3em;
}

.project-header {
  margin-bottom: 1.5em;
}

.project-header .cover-image {
  width: 100%;
}

.project-header h1 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.project-header .info {
  margin: 0 calc(1em - 2px);
  padding: 0 4px 1.5em;
  border-bottom: 1px solid #ddd;
}

.project-header .labeled {
  align-items: flex-end;
  margin-top: 1em;
  margin-right: 2.5em;
  font-size: 1.05rem;
}

.project-header .icon {
  width: 28px;
  height: 28px;
  margin-bottom: -2px;
  flex-shrink: 0;
  align-self: flex-start;
}

.project-header .actions {
  display: flex;
  flex-wrap: wrap;
}

.project-header .actions .icon {
  width: 20px;
  height: 20px;
}

.project-header .actions .btn.filled {
  margin-top: 1em;
}

.project-header .actions .btn.outline {
  margin-top: 1em;
  margin-right: .5em;
}

.material > h2 {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.labeled.comment {
  width: 100%;
  font-size: 1rem;
  line-height: 1.2rem;
}

.labeled.comment > .icon {
  flex-shrink: 0;
}

h2.padded {
  margin-bottom: 0;
  margin-top: 2em;
}

.activities.brief {
  margin-top: 1em;
}

.card.activity,
.card.create-activity {
  margin: 1em .5em 0;
}

.material > .activities + .btn {
  margin-left: .5em;
  margin-top: 1em;
}

.consequences {
  font-weight: 300;
  display: block;
  margin-top: .3em;
}

.modal-overlay ul.actual li {
  margin-bottom: .25em;
}

.dialog p {
  margin-top: .5em;
}

.modal-overlay .card {
  position: relative;
  margin: .5em;
}

.modal-overlay .card .title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #127800;
  display: block;
  padding-right: 2em;
}

.modal-overlay .card .btn.close {
  position: absolute;
  top: .7em;
  right: .7em;
}

.modal-overlay .card .reports {
  margin-top: 1.5em;
  width: 40em;
  font-size: .95rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.modal-overlay .card .reports .report {
  padding-top: 1em;
}

.modal-overlay .card .reports .report:not(:last-child) {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.modal-overlay .card .reports .data-points {
  display: flex;
}

.modal-overlay .card .reports .data-points .labeled:first-child {
  margin-right: 10%;
}

.modal-overlay .card .reports .feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.modal-overlay .card .reports .feedback .stars {
  margin-left: 1em;
  flex-shrink: 0;
}

.modal-overlay .card .reports .feedback .stars .star {
  width: 16px;
  height: 16px;
}

.modal-overlay .card .reports .labeled > .icon {
  margin-top: .6rem;
}

.stars {
  margin-left: 1em;
}

.stars .star {
  stroke: #127800;
  width: 18px;
  height: 18px;
  margin: 0 1px;
}

.stars .star.off {
  stroke: #ddd;
}

.report-form > label {
  margin-top: 1em;
  margin-bottom: .5em;
  display: block;
  line-height: 1.3rem;
}

.report-form .actions {
  margin-top: .5em;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 359px) {
  .dialog {
    padding: 1.2em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 699px) {
  .project-header {
    background: var(--image-url);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
  }
  .project-header h1 {
    margin-top: 1.5em;
  }
  .project-header .cover-image {
    display: none;
  }
  .project-header .info {
    width: 60%;
    background: linear-gradient(to left, #fff 0%, white 90%, rgba(255, 255, 255, 0) 100%);
    margin: 0;
    padding-left: 4em;
    padding-right: 1em;
    border-bottom: none;
  }
}

@media only screen and (min-width: 700px) {
  .project-header {
    display: flex;
    margin-top: 1em;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .project-header .cover-image {
    width: 40%;
    max-width: 25em;
    border-radius: 1em;
    margin: 1em 1em 1em 0;
    object-fit: cover;
  }
  .project-header .info {
    border-bottom: none;
  }
  .activities.brief {
    column-count: 2;
  }
  .activities.brief .card {
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .activities.moderated {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .material > .moderated + .btn {
    margin-left: 2.5em;
  }
  .material > h2 {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    text-align: center;
  }
}

.dialog {
  margin-left: .5em;
  margin-right: .5em;
}

@media only screen and (min-width: 1200px) {
  .activities.brief {
    column-count: 3;
  }
  .activities.moderated,
  .project-header {
    padding-left: 8%;
    padding-right: 8%;
  }
  .material > .moderated + .btn {
    margin-left: 8%;
  }
}
