.moderators {
  margin: 1em .5em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moderators .card {
  margin-bottom: 1em;
  margin-right: 1em;
}

.moderators .name {
  display: flex;
  align-items: baseline;
}

.moderators .star {
  width: .75em;
  height: .75em;
  stroke-width: 3;
  stroke: #127800;
  margin-left: .5em;
}

.moderators .edit-hours {
  display: flex;
  margin-top: .3em;
}

.moderators .edit-hours .text-field {
  max-width: 4em;
  margin-right: .5em;
}
