@media only screen and (min-width: 700px) {
  .activities.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    align-items: center;
  }
  .activities.user .activity {
    grid-row: span 2;
  }
  .activities.user .activity.expanded {
    grid-row: span 5;
  }
}

@media only screen and (min-width: 1200px) {
  .activities.user {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
