@import "../global/_variables.scss";

.read-feedback {
  .competences {
    margin-top: .5em;
    display: flex;
    flex-wrap: wrap;

    .chip {
      margin-right: .5em;
      margin-bottom: .5em;
    }
  }

  .question {
    margin-top: 1em;
    font-weight: 500;
  }

  .answer {
    display: block;
    margin: .5em 1em .5em 0;
    padding: .4em .75em;
    border-left: 3px solid $light-contrast;
    color: $dark;
    line-height: 1.25rem;

    .no-answer {
      font-style: italic;
      font-weight: 300;
    }
  }
}
