@import "../global/_variables.scss";

.report-performance {
  .refresher {
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .labeled {
      margin-top: 1em;

      &:first-child {
        margin-right: 2em;
      }

      .text {
        justify-content: space-evenly;

        .content {
          overflow: visible;
        }
      }
    }

    .telegram {
      margin-left: .5em;
      font-size: .9rem;
    }
  }

  .required {
    color: $main;
  }

  & > .content {
    max-height: calc(100vh - 7em);
  }
}
