.view-reports {
  .empty {
    flex-direction: column;
    align-items: center;

    .title {
      padding: 0;
    }
  }

  .star {
    stroke: transparentize($main, .4);
    fill: transparentize($main, .3);

    &.off {
      stroke: $light-gray;
      fill: none;
    }
  }
}
