@use "_attractions-theme.scss";

.application-tile {
  padding-bottom: 1em;

  &:not(:first-child) {
    border-top: .0625em solid attractions-theme.$light-contrast;
  }

  :global .panel {
    margin-top: .8em;
    margin-left: .5em;
    padding-top: 1em;

    .name {
      margin-bottom: .3em;
    }

    .telegram {
      display: inline;
    }

    & > .handle .btn {
      float: right;
    }
  }

  :global section {
    padding-top: 1em;
    padding-left: .3em;
  }

  .with-icon .text {
    white-space: pre-line;
  }

  .actions {
    display: flex;
    margin-top: 1em;
  }
}
