.content {
  max-height: calc(100vh - 10em);
  overflow-y: auto;
  overscroll-behavior: none;

  p {
    font-weight: 300;
    margin-bottom: .3em;
    font-size: .9rem;
    line-height: 1.1rem;
  }

  form {
    margin-top: 1em;

    :global(.name) {
      display: block;
      margin-bottom: .3em;
      font-size: 1em !important;
    }

    :global(.competence-chips) {
      display: flex;
      flex-wrap: wrap;
      max-width: 40em;

      :global(.chip) {
        margin-right: .5em;
      }
    }

    :global(.form-field) {
      flex-direction: column;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5em;
  }

  :global(textarea) {
    height: 4em;
  }

  @media only screen and (min-width: 480px) {
    max-height: calc(100vh - 7em);
  }
}
