@import "_attractions-theme.scss";
@import "components/projects/view/moderated-activity.scss";

.activity.moderated {
  .left, .middle {
    border-bottom: .0625em solid $light-contrast;
    padding-bottom: 1em;
  }

  .middle, .right {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
  }

  @media only screen and (min-width: 640px) {
    @supports (display: grid) {
      :global .card {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
      }

      .middle {
        padding-top: .5em;
      }

      .right {
        padding-top: 1.5em;
      }

      .left {
        grid-row: 1 / 3;
        border-bottom-width: 0 !important;
        border-right: .0625em solid $light-contrast;
        padding-right: 1em;
      }

      .middle, .right {
        margin-left: 1em;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    @supports (display: grid) {
      :global .card {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .right {
        padding-top: .5em;
      }

      .left {
        grid-row-end: 2;
      }

      .middle {
        border-bottom-width: 0 !important;
        border-right: .0625em solid $light-contrast;
        padding-right: 1em;
      }
    }
  }
}
