@use "_attractions-theme.scss";
@use "_mixins.scss";

.reports {
  margin-top: 1.5em;
  font-size: .95rem;
  max-height: 75vh;
  overflow-y: auto;

  @include mixins.thin-scrollbar;

  .report {
    padding-top: 1em;

    &:not(:last-child) {
      padding-bottom: 1em;
      border-bottom: .0625em solid attractions-theme.$light-contrast;
    }
  }

  .data-points {
    display: flex;
    flex-direction: column;

    :global .labeled:first-child {
      margin-bottom: 1em;
    }

    a {
      display: inline-block;
    }

    .icon {
      flex-shrink: 0;
    }
  }

  .feedback {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 1em;
    white-space: pre-line;

    p {
      margin-top: 1em;
    }
  }

  :global .labeled .label {
    white-space: nowrap;
  }

  @media only screen and (min-width: 1024px) {
    min-width: 25em;

    .feedback p {
      margin: 0 .5em 0 0;
    }

    .data-points, .feedback {
      flex-direction: row;
    }

    .data-points :global .labeled:first-child {
      margin-right: 10%;
    }
  }
}
