@import "../../global/src/_variables.scss";

footer .right {
  position: relative;
}

.excuse {
  display: none;
  background: white;
  color: black;
  border-radius: 1em;
  padding: 1em;
  z-index: 2000;
  box-shadow: $shadow-raised;
}

.excuse.open {
  display: block;
  position: absolute;
  bottom: 110%;
}
