@import "../../global/src/_variables.scss";

.material {
  background-color: #fff;
  clip-path:
    polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  overflow: visible;
}

footer {
  background-color: #5c5c5c;
  padding: 20px 1em 0;
  color: #fff;
  margin-top: -20px;

  &.low-page {
    & > .container {
      padding-top: 3.125em;
    }

    & > .to-top {
      display: none;
    }
  }

  & > .to-top {
    transform: translateY(-50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
  }

  & > .container {
    flex-direction: column;
  }

  .left {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .logo {
    width: 3em;
    height: 3em;
    fill: #fff;
  }

  .title {
    font-weight: 500;
    color: #fff;
    font-size: 1.7rem;
    margin: 0 .5em;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .socials {
    padding: 0 10%;
    margin-top: .8em;
  }

  a {
    color: #fff;

    &:visited {
      color: #dcfad7;
    }
  }

  .credits {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-top: 2em;
  }

  .right {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

    & > .pointer {
      display: none;
    }

    .card {
      width: 80%;
      color: #000;

      a {
        color: $main;
      }

      p {
        margin-bottom: .5em;
        font-weight: 300;
      }
    }
  }

  @media only screen and (min-width: 385px) {
    padding: 20px 3em 0;
  }

  @media only screen and (min-width: 640px) {
    .credits {
      font-size: 1.1rem;
    }
  }

  @media only screen and (min-width: 750px) {
    & > .container {
      flex-direction: row;
    }

    .left {
      margin-bottom: 4rem;
    }

    .socials {
      margin-bottom: 3em;
      padding: 0;
      margin-top: 0;
    }

    .title-container {
      justify-content: flex-start;
    }

    .credits {
      text-align: left;
      margin-top: 0;
    }

    .right {
      justify-content: flex-start;
      margin-bottom: 0;

      & > .pointer {
        display: block;
        margin-right: 1em;
        max-width: 6em;
        align-self: flex-end;
      }

      .card {
        width: 14em;
        align-self: flex-start;
      }
    }
  }

  @media only screen and (min-width: 900px) {
    .right > .pointer {
      margin-right: 2em;
    }

    .right .card {
      width: 20em;
    }
  }

  @media only screen and (min-width: 1024px) {
    .title {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    padding: 20px 10% 0;
  }

  @media only screen and (min-width: 1600px) {
    .search {
      width: 18em;
    }
  }
}
