@media only screen and (max-width: 540px) {
  .filters {
    width: 100%;
  }
}

.price {
  flex-direction: column;
  align-items: stretch;
}

.price > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price > .btn {
  align-self: flex-end;
}

.price input {
  width: 4em;
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 1.5em;
}

.color-grid > label {
  margin: 5px;
}

#chk-000000 > input + .icon {
  background: #000;
  border-color: #000;
  --r: 0;
  --g: 0;
  --b: 0;
}

#chk-a7a7a7 > input + .icon {
  background: #a7a7a7;
  border-color: #a7a7a7;
  --r: 167;
  --g: 167;
  --b: 167;
}

#chk-ffffff > input + .icon {
  background: #fff;
  border-color: #999;
  --r: 153;
  --g: 153;
  --b: 153;
}

#chk-ffffff > input + .icon::before {
  border-color: #999;
}

#chk-da1919 > input + .icon {
  background: #da1919;
  border-color: #da1919;
  --r: 218;
  --g: 25;
  --b: 25;
}

#chk-f7a222 > input + .icon {
  background: #f7a222;
  border-color: #f7a222;
  --r: 247;
  --g: 162;
  --b: 34;
}

#chk-f3ea15 > input + .icon {
  background: #f3ea15;
  border-color: #f3ea15;
  --r: 243;
  --g: 234;
  --b: 21;
}

#chk-127800 > input + .icon {
  background: #127800;
  border-color: #127800;
  --r: 56;
  --g: 120;
  --b: 0;
}

#chk-26a1d3 > input + .icon {
  background: #26a1d3;
  border-color: #26a1d3;
  --r: 38;
  --g: 161;
  --b: 211;
}

#chk-1a17d5 > input + .icon {
  background: #1a17d5;
  border-color: #1a17d5;
  --r: 26;
  --g: 23;
  --b: 213;
}

#chk-060376 > input + .icon {
  background: #060376;
  border-color: #060376;
  --r: 6;
  --g: 3;
  --b: 118;
}

#chk-c617d5 > input + .icon {
  background: #c617d5;
  border-color: #c617d5;
  --r: 198;
  --g: 23;
  --b: 213;
}

#chk-ee9999 > input + .icon {
  background: #ee9999;
  border-color: #ee9999;
  --r: 238;
  --g: 153;
  --b: 153;
}

@media only screen and (min-width: 380px) {
  .price input {
    width: 5em;
  }

  .price .mr.ml {
    margin-left: .6em;
    margin-right: .6em;
  }
}

@media only screen and (min-width: 540px) and (max-width: 640px) {
  .filters .text-field {
    width: 24em;
  }
}
