.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop .balance {
  color: #127800;
  margin-bottom: 1em;
}

.shop .balance .innopoint {
  stroke: #127800;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
}

.cards .card {
  max-width: 18em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.cards .card > .image {
  position: relative;
  display: block;
}

.cards .card > .image > img {
  width: 100%;
  display: block;
}

.cards .card > .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cards .card .title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card .title .main {
  margin-bottom: .1em;
}

.cards .card .title .out-of-stock {
  font-size: .8rem;
  padding: .3em .5em;
  background: #ab0303;
  color: #fff;
  border-radius: 1em;
}

.cards .card .title + .subtitle {
  margin-top: .2em;
}

.cards .card .card-row {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: .5rem;
}

.cards .card .labeled .content {
  display: inline-flex;
  align-items: center;
}

.cards .card .title + .card-row {
  margin-top: 1.5rem;
}

.cards .card .innopoint {
  height: 1.05rem;
  margin-left: .3em;
}

.cards .card .color-options {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: .5em;
  right: 1em;
}

.cards .card .color-options > label {
  margin-bottom: .5em;
}

.cards .card .card-row .price {
  font-size: 1.2rem;
}

.cards hr {
  margin-top: 3em;
}

.cards hr::after {
  font-size: 1.2rem;
  color: #127800;
  font-weight: 500;
  padding: 0 .6em;
  white-space: nowrap;
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18em);
    grid-gap: 1rem;
  }
  .cards hr {
    grid-column: 1 / -1;
  }
}

@media only screen and (min-width: 600px) {
  .cards hr::after {
    font-size: 1.4rem;
  }
  .card {
    margin: .5em;
  }
}
