@import "../global/_variables.scss";

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  .balance {
    color: $main;
    margin-bottom: 1em;

    .innopoint {
      stroke: $main;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;

  .card {
    max-width: 18em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    & > .image {
      position: relative;
      display: block;

      & > img {
        width: 100%;
        display: block;
      }
    }

    & > .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      .main {
        margin-bottom: .1em;
      }

      .out-of-stock {
        font-size: .8rem;
        padding: .3em .5em;
        background: $danger;
        color: #fff;
        border-radius: 1em;
      }
    }

    .title + .subtitle {
      margin-top: .2em;
    }

    .card-row {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: .5rem;
    }

    .labeled .content {
      display: inline-flex;
      align-items: center;
    }

    .title + .card-row {
      margin-top: 1.5rem;
    }

    .innopoint {
      height: 1.05rem;
      margin-left: .3em;
    }

    .color-options {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      bottom: .5em;
      right: 1em;

      & > label {
        margin-bottom: .5em;
      }
    }

    .card-row .price {
      font-size: 1.2rem;
    }
  }

  hr {
    margin-top: 3em;

    &::after {
      font-size: 1.2rem;
      color: $main;
      font-weight: 500;
      padding: 0 .6em;
      white-space: nowrap;
    }
  }
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18em);
    grid-gap: 1rem;

    hr {
      grid-column: 1 / -1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cards hr::after {
    font-size: 1.4rem;
  }

  .card {
    margin: .5em;
  }
}
