@use "_attractions-theme.scss";

.review-verdict {
  margin-top: 1.5em;

  .title {
    margin-bottom: .5em;
    font-weight: attractions-theme.$bold-font-weight;
  }

  .actions {
    margin-top: .5em;
    display: flex;
    justify-content: flex-end;
  }
}
