.price {
  flex-direction: column;
  align-items: stretch;
}

.price > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price > .btn {
  align-self: flex-end;
}

.price input {
  width: 4em;
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.color-grid > label {
  margin: 5px;
}

@media only screen and (min-width: 380px) {
  .price input {
    width: 5em;
  }

  .price .mr.ml {
    margin-left: .6em;
    margin-right: .6em;
  }
}
