.contacts {
  padding: 3em 0 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(18, 120, 0, 0.07);
  border-top-left-radius: 250% 25%;
  border-top-right-radius: 250% 25%;
}

.contacts > header {
  flex-direction: column;
  padding: 0;
  margin: 0 0 1.5em;
}

.contacts .subtitle {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.contacts .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .8em 1.6em;
  margin: 1em 0;
}

.contacts .card p {
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
}

.contacts .icon {
  width: 3.6em;
  height: 3.6em;
}

@media only screen and (min-width: 640px) {
  .contacts .subtitle {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 805px) {
  .contacts {
    padding-bottom: 3em;
  }
  .contacts > div {
    display: flex;
    flex-direction: row;
  }
  .contacts .card {
    margin: 0 1rem;
    font-size: 1.2rem;
  }
  .contacts .card .btn {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .contacts {
    padding-bottom: 5em;
  }
  .contacts .card {
    padding: .8rem 2rem;
    margin: 0 3rem;
  }
}
