@use "sass:color";
$main: #007a00;
@forward '~attractions/_variables' with (
  $font: ('IBM Plex Sans', sans-serif),
  $main: $main,
  $bold-font-weight: 600,
  $x-icon: 'images/icons/x.svg',
);
$header-font: 'Montserrat', sans-serif;
$link-visited: #50005f;

$shadow-glowing: 0 2px 8px -1px color.adjust(color.adjust($main, $lightness: -10%), $alpha: -.8),
                 0 3px 10px 0   color.adjust(color.adjust($main, $lightness: -10%), $alpha: -.86),
                 0 1px 20px 0   color.adjust(color.adjust($main, $lightness: -10%), $alpha: -.88);

$warning-bg: #fff4e5;
$warning-fg: #995400;
