@import './normalize.css';
@import './footer.css';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6, p, body {
  margin: 0;
}

body, input {
  font-family: 'Ubuntu', sans-serif;
}

.ml-1 {
  margin-left: .7rem;
}

@media only screen and (max-width: 639px) {
  .hide-mb {
    display: none !important;
  }
}

.green {
  color: #387800;
}

.white {
  color: #fff;
}

.outline {
  border-width: 1px;
  border-style: solid;
}

.btn {
  display: flex;
  border-radius: 50px;
  padding: .7rem 1rem;
  text-decoration: none;

  font-weight: 500;
  font-size: .9em;
}

.filled.green {
  background-color: #387800;
  color: #fff;
}

.filled.white {
  background-color: #fff;
}

.btn.outline.green {
  border-color: #387800;
}

.shadow-1 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.container {
  max-width: 1648px;
  margin: auto;
}

.container.tight {
  max-width: 1280px;
}

h2 {
  font-size: 1.5em;
}

.card {
  background-color: #fff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 351px) {
  h2 {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 386px) {
  .btn {
    font-size: 1em;
  }
}

@media only screen and (min-width: 426px) {
  h2 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 501px) {
  .btn {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 641px) {
  .btn {
    padding: .5em 1em;
    font-size: 1.2em;
  }

  h2 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 806px) {
  h2 {
    font-size: 2.5em;
  }
}
