.material h1 {
  margin: 1.2em 0 .8em;
}

.material main {
  display: flex;
  flex-direction: column;
}

.form-field {
  flex-direction: column;
  margin-bottom: 2em;
}

.form-field.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.form-field.horizontal .text-field-wrapper {
  width: 8em;
}

.form-field > label {
  margin-bottom: .3em;
}

.form-field .desc {
  margin-bottom: .7em;
}

.varieties .switch-wrapper {
  display: flex;
}

.varieties h2 {
  color: #387800;
}

.variety {
  margin-top: 1.5em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #d6d6d6;
}

.variety .settings {
  display: flex;
  align-items: center;
}

.variety .settings button {
  flex-shrink: 0;
  margin-right: 2em;
}

.variety .selected-color {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: 1em;
}

.variety .sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quantity .text-field {
  max-width: 6em;
  margin-top: .4em;
}

.sizes .text-field {
  width: 30%;
  margin-top: .7em;
}

.image-platform {
  border: 2px dashed #387800;
  border-radius: 25px;
  padding: 1.5em;
  margin: 2em 0 .5em;
}

.image-platform.has-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-platform .icon {
  stroke: #387800;
}

.image-platform .title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #387800;
}

.image-platform small {
  font-weight: 300;
  font-size: .9rem;
  text-align: center;
  display: block;
}

.image-platform input[type="file"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

@supports (display: grid) {
  .image-platform:not(.has-content) {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px 1fr;
    row-gap: 1.3em;
    column-gap: 1em;
    align-items: center;
  }

  .image-platform input[type="file"] {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .image-platform .icon {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-platform .title {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .image-platform small {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.image-platform.has-content .images {
  display: flex;
  flex-wrap: wrap;
}

.image-platform.has-content .image {
  margin: 0 10px 10px 0;
  border-radius: 10px;
  position: relative;
}

.image-platform.has-content .image:first-child::before {
  content: "cover";
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: -1.2rem;
  font-size: .9rem;
  font-weight: 300;
  color: #387800;
}

.image-platform.has-content .image > .actions {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.image-platform.has-content .image > img {
  background-color: #fff1f1;
  height: 120px;
}

.image-platform.has-content .image .drag-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 3px;
}

.more {
  margin: .5em 0;
}

.preview .actions {
  margin-top: 1em;
  display: flex;
  align-self: center;
}

@media only screen and (min-width: 430px) {
  .quantity {
    display: flex;
    align-items: baseline;
  }

  .quantity .text-field {
    margin-top: 0;
    margin-left: 1.5em;
  }
}

@media only screen and (min-width: 640px) {
  .form-field {
    flex-direction: row;
  }

  .form-field label {
    width: 45%;
  }

  .form-field .text-field-wrapper {
    width: 50%;
  }

  .form-field.horizontal {
    width: 50%;
  }

  header.varieties {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sizes .text-field {
    width: 15.5%;
  }

  .image-platform label,
  .image-platform small {
    text-align: center;
  }

  @supports (display: grid) {
    .image-platform {
      row-gap: .3em;
    }

    .image-platform small {
      grid-column-start: 2;
      align-content: center;
    }

    .image-platform .icon {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}

@media only screen and (min-width: 750px) {
  .sizes-wrapper {
    display: flex;
    align-items: baseline;
  }

  .sizes-wrapper .label {
    margin-right: 1.6em;
  }

  .sizes .text-field {
    width: 6em;
    margin-right: .5em;
  }

  .sizes .text-field:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .material main {
    flex-direction: row;
    justify-content: space-between;
  }

  main > form {
    margin-bottom: 3em;
    margin-right: 3em;
  }

  .preview {
    width: 25em;
    margin-left: 2em;
  }

  .preview .actions {
    align-self: flex-end;
  }
}
