@import "../global/_variables.scss";
@import "../global/_mixins.scss";

.spots {
  justify-content: space-between;

  .text-field {
    margin: 0 .2em;
  }

  input {
    text-align: center;
    width: 2.5em;
  }

  button {
    @include hide-accessible;
  }
}

.competences + section {
  .with-labels {
    display: flex;
    flex-direction: column;
    max-height: 10em;
    overflow-y: auto;
  }

  & > .btn {
    margin: 0 1em;
  }

  label {
    padding: .8em 1em .8em 2em;
    display: flex;
    align-items: center;

    &:hover {
      background-color: transparentize($main, .9);
    }
  }
}

.filter > .svelte-placeholder {
  display: flex;
  align-items: center;

  & > .icon {
    margin-left: .8em;
  }
}

@media only screen and (min-width: 370px) {
  .spots button {
    @include show-accessible;
  }
}

@media only screen and (min-width: 480px) {
  .competences + section .with-labels {
    max-height: 10em;
  }
}
