.spots {
  justify-content: space-between;
}

.spots .text-field {
  margin: 0 .2em;
}

.spots input {
  text-align: center;
  width: 2.5em;
}

.spots button {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.competences + section .with-labels {
  display: flex;
  flex-direction: column;
  max-height: 10em;
  overflow-y: auto;
}

.competences + section > .btn {
  margin: 0 1em;
}

.competences + section label {
  padding: .8em 1em .8em 2em;
  display: flex;
  align-items: center;
}

.competences + section label:hover {
  background-color: rgba(18, 120, 0, 0.1);
}

.filter > .svelte-placeholder {
  display: flex;
  align-items: center;
}

.filter > .svelte-placeholder > .icon {
  margin-left: .8em;
}

@media only screen and (min-width: 370px) {
  .spots button {
    clip: auto;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }
}

@media only screen and (min-width: 480px) {
  .competences + section .with-labels {
    max-height: 10em;
  }
}
