.material {
  padding-bottom: 4em;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.card > .title {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #127800;
  font-size: 1.1rem;
}

.card > .title .icon {
  margin-right: .5em;
}

.card .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.card > .actions {
  align-items: flex-end;
  flex-grow: 1;
}

.empty {
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty .icon {
  border-radius: 50%;
  background: rgba(18, 120, 0, 0.1);
  padding: 1em;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.empty .icon > svg {
  stroke: #127800;
  width: 80%;
  height: 80%;
}

.empty .title {
  color: #127800;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: .3em;
}

.projects-review li {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

@supports (display: grid) {
  .projects-review li {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .projects-review li .title {
    grid-column: 1 / 3;
  }
}

.projects-review li .title {
  margin-bottom: .5em;
  flex-basis: 100%;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.projects-review li .labeled > .icon {
  margin-top: .7rem;
}

.projects-review li .btn {
  margin-right: -1em;
  margin-top: .3em;
}

.purchases li {
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}

.purchases .product {
  display: flex;
}

.purchases .image {
  display: none;
  height: 5em;
  width: 5em;
  border-radius: 1em;
  margin-right: 1em;
  flex-shrink: 0;
}

.purchases .image img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.purchases .title {
  margin-bottom: .5em;
}

.purchases .product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.purchases .title .type, .purchases time {
  margin-left: .5em;
  font-weight: 300;
}

.purchases .purchaser {
  font-weight: 300;
  font-size: .9em;
}

.purchases .copy-email {
  display: block;
  margin-top: .2em;
  text-decoration: underline;
  font-size: .95em;
}

.purchases .parameters {
  display: flex;
  align-self: flex-start;
}

.purchases .parameters .color {
  border-radius: 50%;
  padding: .9em;
  margin-left: .5em;
}

.user-selection {
  margin: 1em 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

.user-selection p {
  font-weight: 300;
  font-size: .95rem;
  margin: .8em .5em 0;
}

.user-selection .dropdown {
  max-height: 11em;
  overflow-y: scroll;
}

.operations header {
  display: flex;
  align-items: center;
}

.operations header .icon {
  stroke: #127800;
}

.operations .subtitle {
  font-size: .95rem;
  font-weight: 300;
  margin-top: .3em;
  margin-left: 2.5rem;
}

.operations .status {
  margin-left: 2em;
  font-weight: 300;
}

.operations .status.good {
  color: #127800;
}

.operations .status.bad {
  color: #ab0303;
}

.amend-balance {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}

.amend-balance form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.amend-balance .text-field {
  min-width: 4em;
  max-width: 8em;
  margin-right: 1em;
}

.send-message {
  margin-bottom: 1.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ddd;
}

.send-message form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.send-message .btn {
  align-self: start;
}

.send-message .actions {
  justify-content: flex-start;
  margin-top: .5em;
}

.see-profile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.see-profile .btn {
  margin-top: .5em;
}

@supports (display: grid) {
  .purchases .product-info {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }
}

@media only screen and (min-width: 480px) {
  .purchases .image {
    display: block;
  }
  @supports (display: grid) {
    .see-profile {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto;
    }
    .see-profile .subtitle {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
    .see-profile .btn {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: 780px) {
  .operations {
    display: flex;
  }
  .amend-balance, .send-message {
    flex: 1;
    margin: 0 .5em;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1023px) {
  .amend-balance, .send-message {
    padding-bottom: 0;
    margin-right: 1em;
    padding-right: 1em;
    border-bottom-width: 0;
    border-right: 1px solid #ddd;
  }
  .see-profile {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  @supports (display: grid) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
    }
    .individual-ctls {
      grid-column: 1 / 3;
    }
  }
  .projects, .purchases-list {
    max-height: 70em;
    overflow-y: auto;
  }
  .individual-ctls .panel {
    display: flex;
  }
  .individual-ctls .panel .user-selection {
    flex: 1;
    padding-bottom: 0;
    border-bottom: none;
    padding-right: 2em;
    border-right: 1px solid #ddd;
  }
  .individual-ctls .panel .operations {
    flex-direction: column;
    flex: 1;
    padding-left: 2em;
  }
  .individual-ctls .panel .operations .send-message {
    margin-top: 1em;
  }
  .see-profile {
    margin-top: 1em;
  }
}
