.container-403 {
  padding-top: 1.5em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}

.container-403 .picture {
  margin: 1em 0 2em;
  width: 100%;
}

.container-403 .card {
  padding: 1.2em;
  align-self: center;
  max-width: 16em;
}

.container-403 .card .title {
  font-weight: 500;
  font-size: 1.2rem;
}

.container-403 .card .subtitle {
  font-size: .9rem;
  margin-top: .3em;
}

.container-403 .card .actions {
  display: flex;
  margin-top: .8em;
}

.container-403 .card .actions .btn:first-child {
  margin-right: .5em;
}

@media only screen and (min-width: 360px) {
  .container-403 .card {
    padding: 1.5em;
  }
}

@media only screen and (min-width: 480px) {
  .container-403 .card {
    max-width: 16.5em;
    flex-shrink: 0;
  }
  .container-403 .card .actions .btn:first-child {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .container-403 {
    flex-direction: row;
  }
  .container-403 .picture {
    width: 60%;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 1200px) {
  .container-403 .picture {
    margin-right: 10%;
  }
}
