.filters {
  margin-top: .5em;
  margin-bottom: .5em;
}

.filters .dropdowns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters .dropdowns .dropdown-shell {
  margin-top: .5em;
}

.filters .handle .regular {
  display: none;
}

.filters .handle .mr {
  width: 1.25rem;
  height: 1.25rem;
}

.filters .relative-wrapper {
  width: calc(90vw - 1em);
  max-width: 22em;
  padding: 1em 0;
}

.filters .relative-wrapper > .btn.danger {
  margin: 0 1em;
}

.filters .order-options {
  max-width: 15em;
}

.filters .order-options .with-labels {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}

.filters .order-options .with-labels label {
  display: flex;
  align-items: center;
}

.filters .order-options .with-labels .radio {
  margin: .5em 12px;
}

.filters .filter {
  display: flex;
  align-items: center;
  margin-top: .5em;
  padding: 0 1em;
}

.filters .filter .name {
  padding: 0 .5em 0 1em;
  flex-shrink: 0;
}

.filters .filter .icon {
  stroke: #127800;
}

@media only screen and (min-width: 370px) {
  .filters .handle .tight {
    display: none;
  }
  .filters .handle .regular {
    display: inline;
  }
}

.filters .filter > .icon,
.filters .filter > .align-center > .icon {
  margin-left: .8em;
}

.hide-mb {
  display: none;
}

@media only screen and (min-width: 640px) {
  .filters {
    width: 36em;
    align-self: center;
  }
  .ordering {
    width: 38em;
  }
}

@media only screen and (min-width: 700px) {
  .filters {
    display: flex;
    width: 38em;
    align-items: center;
  }
  .filters .text-field {
    flex: 1;
  }
  .filters .dropdown-shell:first-child {
    display: none;
  }
  .filters .dropdown-shell:last-child {
    flex: 0;
    margin-top: 0;
    margin-left: .5em;
  }
  .ordering {
    margin: .5em 0 1em;
  }
  .hide-mb {
    display: flex;
    align-items: center;
    align-self: center;
  }
  .hide-mb > .chip-wrapper:not(:last-child) {
    margin-right: .5em;
  }
  .hide-mb .chip {
    font-size: .9rem;
  }
}
