@import "../global/_variables.scss";

header.top-level {
  height: 3.5em;
  border-bottom: 1px solid transparentize($main, .76);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: $main;
    fill: $main;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;

    img {
      width: 2em;
    }
  }

  .actions {
    display: flex;
  }
}

@media only screen and (min-width: 640px) {
  header.top-level .hide-tb {
    margin-left: .6em;
  }

  header.top-level .logo {
    display: flex;
    align-items: center;
  }
}
