.image-platform {
  border: 2px dashed #127800;
  border-radius: 25px;
  padding: 1.5em;
  margin: 0 0 .5em;
}

.image-platform.has-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.image-platform .icon {
  stroke: #127800;
}

.image-platform .title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #127800;
}

.image-platform small {
  font-weight: 300;
  font-size: .9rem;
  text-align: center;
  display: block;
}

.image-platform input[type="file"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

@supports (display: grid) {
  .image-platform:not(.has-content) {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 24px 1fr;
    row-gap: 1.3em;
    column-gap: 1em;
    align-items: center;
  }
  .image-platform input[type="file"] {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .image-platform .icon {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .image-platform .title {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .image-platform small {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.image-platform.has-content .images {
  display: flex;
  flex-wrap: wrap;
}

.image-platform.has-content .image {
  margin: 0 10px 10px 0;
  border-radius: 10px;
  position: relative;
}

.image-platform.has-content .image:first-child::before {
  content: "cover";
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: -1.2rem;
  font-size: .9rem;
  font-weight: 300;
  color: #127800;
}

.image-platform.has-content .image > .actions {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.image-platform.has-content .image > img {
  background-color: #fff1f1;
  height: 120px;
}

.image-platform.has-content .image .drag-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  right: 3px;
}

@media only screen and (min-width: 640px) {
  .image-platform label,
  .image-platform small {
    text-align: center;
  }
  @supports (display: grid) {
    .image-platform {
      row-gap: .3em;
    }
    .image-platform small {
      grid-column-start: 2;
      align-content: center;
    }
    .image-platform .icon {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
}
