.settings {
  padding-top: 3em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings > ul {
  align-self: stretch;
}

.settings > header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings .notice {
  margin: 1em 0;
  padding-right: .5em;
}

.settings .notice p {
  margin-right: .5em;
}

.settings .notice .icon {
  width: 24px;
  height: 24px;
}

.section {
  border-bottom: 1px solid #c6c6c6;
}

.precise {
  border-top: 1px solid #e7e7e7;
}

.section > header {
  display: flex;
  flex-direction: column;
}

.section .title {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section > header > .title {
  margin-left: .5em;
}

.switches {
  display: flex;
  justify-content: space-between;
  padding: 1em .3em 1em;
}

.switches .clickable {
  display: flex;
  align-items: center;
}

.switches .radio {
  margin-left: .5em;
}

.section > ul {
  padding-left: .5em;
}

.section.collapsed > ul {
  display: none;
}

.section .chevron {
  transition: transform 100ms;
  transform: rotate(180deg);
  margin-bottom: -2px;
}

.section.collapsed .chevron {
  transform: rotate(0);
}

.precise {
  display: flex;
  flex-direction: column;
  position: relative;
}

.precise > .title {
  justify-content: flex-start;
}

.precise > .title .icon {
  width: 20px;
  height: 20px;
}

.precise .dropdown-shell {
  position: static;
}

.precise .dropdown.info-bubble {
  left: 0;
  width: 14em;
}

@media only screen and (min-width: 380px) {
  .precise .dropdown.info-bubble {
    width: 16em;
  }
}

@media only screen and (min-width: 480px) {
  .switches .clickable {
    flex-direction: column;
  }

  .switches .clickable:not(:last-child) {
    margin-right: 1em;
  }

  .switches .radio {
    margin-left: 0;
    margin-top: .5em;
  }

  .section > header,
  .precise {
    flex-direction: row;
    justify-content: space-between;
  }

  .section > ul {
    padding-left: 1em;
  }


  @supports (display: grid) {
    .section > header .title {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-grow: 1;
    }

    .btn.handle {
      justify-self: left;
    }
  }
}

@media only screen and (min-width: 560px) {
  .settings > header {
    align-items: center;
  }

  .switches .clickable:not(:last-child) {
    margin-right: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .settings > ul {
    width: 75%;
    align-self: center;
  }
}

@media only screen and (min-width: 1200px) {
  .settings > ul {
    width: 60%;
  }
}