.statistics {
  margin-top: .5em;
  padding: 0 .5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistics .relative-wrapper {
  padding: 1.5em;
}

.statistics .btn.close {
  margin-right: -.7em;
  margin-top: -.7em;
}

.statistics .btn {
  white-space: nowrap;
}

.top-stats,
.stat.competences > header {
  margin: 0 1em;
}

.stat {
  margin-top: 2em;
}

.stat .icon {
  stroke: #127800;
  margin-right: .8em;
}

.stat > header {
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: .5em;
}

.stat .rating {
  color: #127800;
  font-size: 1.3rem;
  margin-left: .8em;
}

.stat > .details {
  padding: .5em 1em 0;
  font-size: .9rem;
}

.stat.competences {
  align-self: stretch;
}

.bar-chart {
  margin: 1em .3em 0;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  max-width: 20em;
}

.bar-chart > .bar {
  height: 2em;
  margin: .4em 0;
  display: flex;
}

.bar-chart .future {
  display: flex;
}

.bar-chart .present,
.bar-chart .future {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
}

.bar-chart .future {
  opacity: .93;
}

.bar-chart .future:hover {
  opacity: 1;
}

.bar-chart .void {
  flex-grow: 1;
}

.legend {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legend .icon {
  width: .9em;
  height: .9em;
  border-radius: 5px;
  margin-right: .8em;
}

.legend > p {
  padding: 1em 1em 1.5em;
  font-weight: 300;
  font-size: .95rem;
}

@media only screen and (min-width: 640px) {
  .statistics .hide-tb {
    font-weight: 500;
    margin-right: .3em;
  }

  .statistics .period {
    padding: 0 1em;
    align-items: center;
    display: flex;
  }

  .top-stats {
    display: flex;
    align-self: stretch;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ddd;
  }

  .top-stats > .stat {
    width: 50%;
  }

  .top-stats > .stat:last-child {
    border-left: 1px solid #ddd;
    padding-left: 1.5em;
  }

  .stat.competences > figure {
    display: flex;
    align-items: flex-start;
  }

  .bar-chart {
    width: 25em;
  }
}

@media only screen and (min-width: 720px) {
  .bar-chart {
    margin-left: 1.5em;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 1024px) {
  .legend {
    margin-top: -2em;
    margin-left: 1em;
  }

  .bar-chart {
    flex-direction: row;
    height: 20em;
    max-width: unset;
    padding: 0 5px;
  }

  .bar-chart > .bar {
    height: 100%;
    width: 2em;
    margin: 0 .4em;
    flex-direction: column-reverse;
  }

  .bar-chart .future {
    flex-direction: column-reverse;
  }

  .bar-chart .present,
  .bar-chart .future {
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    height: unset;
    width: 100%;
  }

  .statistics {
    margin: 2em 10%;
  }
}

@media only screen and (min-width: 1260px) {
  .statistics > div {
    flex-direction: row;
    justify-content: center;
  }

  .card.competences {
    padding-right: 1em;
  }

  .top-cards {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1300px) {
  .top-cards {
    margin-right: 1em;
  }

  .card.rating {
    margin-top: 1.5em;
  }
}
