.statistics {
  margin-top: 3em;
}

.statistics > header,
.statistics > div {
  display: flex;
  flex-direction: column;
}

.statistics .card {
  margin: 1em 0 0;
}

.top-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-cards > .card {
  width: 16em;
}

.card > header {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.card > header > svg {
  stroke: #387800;
  width: 30px;
  height: 30px;
  margin-right: .8em;
}

.card > .details {
  font-weight: 300;
  margin-bottom: .5em;
  font-size: .9rem;
}

.top-cards .card > .details {
  text-align: center;
}

.card > .actions {
  display: flex;
  justify-content: flex-end;
}

.card.volunteering {
  padding-bottom: .5em;
}

.card.rating > .content {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.card.rating .star {
  stroke: #387800;
}

.card.rating .star.off {
  stroke: #999;
}

.card.rating .star:not(:last-child) {
  margin-right: .5em;
}

.card.competences > header {
  margin-bottom: .5em;
}

.card.competences > .details {
  margin-bottom: 1em;
}

.bar-chart {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

.bar-chart > .bar {
  height: 2em;
  margin: .5em 0;
  display: flex;
}

.bar-chart .future {
  display: flex;
}

.bar-chart .present,
.bar-chart .future {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
}

.bar-chart .void {
  flex-grow: 1;
}

.legend {
  margin-top: 1em;
}

.legend .icon {
  width: .9em;
  height: .9em;
  border-radius: 3px;
  margin-right: .8em;
}

.card.competences {
  padding: 1em .6em;
}

.card.competences header,
.card.competences .details,
.card.competences .bar-chart {
  margin-left: .4em;
  margin-right: .4em;
}

.card.competences .btn {
  font-size: .9rem;
}

@media only screen and (min-width: 360px) {
  .card > .details {
    font-size: 1rem;
  }

  .statistics > div {
    align-items: center;
  }
  
  .card.competences {
    padding: 1em;
  }

  .card.competences header,
  .card.competences .details,
  .card.competences .bar-chart {
    margin-left: 0;
    margin-right: 0;
  }

  .card.competences .btn {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 540px) {
  .statistics > header {
    align-items: center;
  }

  .top-cards > .card {
    margin: 1em .5em 0;
  }

  .bar-chart {
    flex-direction: row;
    height: 20em;
    width: 27em;
    padding: 0 5px;
  }

  .bar-chart > .bar {
    height: 100%;
    width: 2em;
    margin: 0 .5em;
    flex-direction: column-reverse;
  }

  .bar-chart .future {
    flex-direction: column-reverse;
  }

  .bar-chart .present,
  .bar-chart .future {
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    height: unset;
    width: 100%;
  }
}

@media only screen and (min-width: 880px) {
  .bar-chart {
    float: left;
  }

  .legend {
    float: right;
    margin-top: 0;
    margin-left: 1em;
  }

  @supports (display: grid) {
    .bar-chart, .legend {
      float: none;
    }

    .card.competences {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto;
    }

    .legend {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      align-self: end;
    }
  }
}

@media only screen and (min-width: 1260px) {
  .statistics > div {
    flex-direction: row;
    justify-content: center;
  }

  .top-cards {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1300px) {
  .top-cards {
    margin-right: 1em;
  }

  .card.rating {
    margin-top: 1.5em;
  }
}