.material {
  padding-bottom: 3em;
}

.material > .card {
  padding: 0;
  margin: 1.5em .5em 0;
}

.tabs {
  padding: .5em .8em;
}

@media only screen and (min-width: 360px) {
  .tabs {
    padding-left: 6%;
    padding-right: 6%;
  }
  .tab > .icon {
    padding: .8em .5em .5em;
  }
}

@media only screen and (min-width: 600px) {
  .material > .card {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2.5em;
  }
  .tabs {
    padding: 1em 10%;
  }
  .tab > .icon {
    font-size: 1.1rem;
    padding: .8em .8em .7em;
  }
}

@media only screen and (min-width: 840px) {
  .material > .card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4em;
  }
  .material {
    padding-bottom: 5em;
  }
}

@media only screen and (min-width: 1024px) {
  .tabs {
    padding: 1.5em 15% 1em;
  }
  .tab > .icon {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .material > .card {
    margin-left: 8%;
    margin-right: 8%;
  }
}
