.quick-info {
  margin-top: 1.5em;
}

.balance {
  & > p {
    font-size: 1.2rem;
  }

  & > nav {
    margin-top: .3em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .innopoint {
    stroke-width: 6;
    margin-left: .05em;
    margin-right: .1em;
  }
}

.personal {
  margin-bottom: 1.5em;

  .btn > .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .telegram {
    display: flex;
    align-items: center;

    &.input {
      flex-direction: column;
      align-items: stretch;
    }

    &.exists {
      font-size: 1.2rem;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: .5em;
    }

    & > .btn {
      flex-shrink: 0;
      flex-grow: 0;

      &:first-child {
        margin-right: .2em;
      }
    }
  }
}

.info-bubble {
  padding: 1em;
  font-size: .95rem;

  .btn.close {
    margin: -.7em -.7em .3em .3em;
  }
}

.personal .info-bubble {
  min-width: 16em;
  margin-top: .5em !important;
}

@media only screen and (min-width: 380px) {
  .personal {
    padding: 0 .2rem;

    .telegram > .btn:first-child {
      margin-right: .5em;
    }

    .info-bubble {
      min-width: 17em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .telegram .text-field {
    width: 20em;
  }

  .personal {
    padding: 0;
    margin: 0;

    .telegram.input {
      max-width: 20em;
    }
  }

  .quick-info {
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
  }

  .balance > p {
    text-align: right;
  }

  .btn-shift {
    margin-left: 0;
    margin-right: -.8rem;
  }
}

@media only screen and (min-width: 1024px) {
  .balance {
    & > p {
      font-size: 1.4rem;
    }

    .innopoint {
      height: 1.2rem;
    }
  }
}
