.timeline {
  margin: 1em .6em;
}

.timeline .loading {
  justify-content: center;
}

.timeline .entry {
  display: flex;
  align-items: flex-start;
  padding-bottom: 2em;
  position: relative;
}

.timeline .entry:last-of-type {
  padding-bottom: 0;
}

.timeline .entry:not(:last-of-type)::before {
  content: "";
  height: calc(100% - 40px);
  position: absolute;
  top: 40px;
  left: 20px;
  width: 1px;
  background-color: rgba(18, 120, 0, 0.7);
}

.timeline .entry > .icon {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid rgba(18, 120, 0, 0.7);
  margin-right: .6em;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.timeline .entry > .icon svg {
  stroke: #127800;
  width: 100%;
  height: 100%;
  stroke-width: 1.5;
}

.timeline .lb {
  line-height: 1.25rem;
}

.timeline .content {
  font-weight: 300;
  font-size: .95rem;
  flex: 1;
  margin-top: .3em;
}

.timeline .content .btn {
  font-size: .9rem;
  margin-top: .8em;
}

.timeline .status, .timeline time {
  font-size: .85rem;
  color: #666;
  margin-top: .4em;
  display: block;
}

.timeline .btn + time {
  margin-top: 1em;
}

.timeline .status {
  margin-top: .6em;
}

.timeline .status.good {
  color: #127800;
}

.timeline .status.bad {
  color: #ab0303;
}

.timeline .innopoint {
  margin-right: 3px;
  height: .85rem;
  stroke-width: 4;
}

.timeline .status > .innopoint {
  height: .8rem;
}

.timeline .status.good > .innopoint {
  stroke: #127800;
}

.timeline .more {
  margin-top: 1em;
}

@media only screen and (min-width: 360px) {
  .timeline .entry > .icon {
    margin-right: .8em;
  }
}

@media only screen and (min-width: 600px) {
  .timeline {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}

@media only screen and (min-width: 700px) {
  .timeline .entry:not(:last-of-type)::before {
    height: calc(100% - 54px);
    top: 54px;
    left: 27px;
  }
  .timeline .entry > .icon {
    width: 54px;
    height: 54px;
    padding: 14px;
  }
  .timeline .content {
    font-size: 1rem;
  }
  .timeline .status, .timeline time {
    font-size: .95rem;
  }
  .timeline .status .innopoint {
    height: .9em;
  }
}

@media only screen and (min-width: 1024px) {
  .timeline {
    margin: 2em 10%;
  }
}
