@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, 'sans-serif';
}

.title {
  @apply w-full text-center leading-tight m-0 pt-8 text-4xl;
}

.btn-gray-outlined {
  @apply bg-transparent text-gray-800 text-lg font-semibold py-2 my-2 px-4 border border-gray-600 rounded mx-1;
}
.btn-gray-outlined:hover {
  @apply bg-gray-200 text-gray-900 border-transparent cursor-pointer;
}
.btn-gray-outlined:focus {
  @apply outline-none;
}
.btn-gray-outlined:active {
  @apply bg-gray-500 text-gray-900 border-transparent;
}
