@import "../../global/src/_variables.scss";

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;

  .card {
    max-width: 18em;
    margin-top: 1em;

    & > .image {
      position: relative;

      & > img {
        width: 100%;
      }
    }

    .title + .subtitle {
      margin-top: .2em;
    }

    .card-row {
      display: flex;
      justify-content: space-between;
      margin-top: .5rem;
    }

    .labeled .content {
      display: inline-flex;
      align-items: center;
    }

    .title + .card-row {
      margin-top: 1.5rem;
    }

    .innopoint {
      height: 1.05rem;
      margin-left: .3em;
    }

    .color-options {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      bottom: .5em;
      right: 1em;

      & > label {
        margin-bottom: .5em;
      }
    }

    .card-row .price {
      font-size: 1.2rem;
    }
  }

  hr {
    margin-top: 3em;

    &::after {
      font-size: 1.2rem;
      color: $main;
      font-weight: 500;
      padding: 0 .6em;
      white-space: nowrap;
    }
  }
}

@supports (display: grid) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18em);
    grid-gap: 1rem;

    hr {
      grid-column: 1 / -1;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cards hr::after {
    font-size: 1.4rem;
  }
  
  .card {
    margin: .5em;
  }
}
