.filters {
  margin: 1rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filters > .ellipse {
  width: 90%;
  height: 2.5rem;
  border-radius: 3rem;
  border: 1px solid #387800;
  display: flex;
}

.filters > .ellipse > div {
  border-right: 1px solid #387800;
  height: 100%;
}

.filters #search-toggle, .filters .show-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .7rem;
}

.filters > .ellipse .filter {
  padding: 0 .7rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.filters .no-border {
  border-right: none !important;
}

.filters .filter > img {
  width: 18px;
  height: 18px;
}

@media only screen and (max-width: 479px) {
  .filters > .filters-collapsed > .dropdown-shell {
    display: none;
  }

  .filters > :not(.filters-collapsed) > .show-filters,
  .filters > :not(.filters-collapsed) > .search > input {
    display: none;
  }

  .filters > :not(.filters-collapsed) > .search {
    justify-content: space-around;
  }

  .filters > .filters-collapsed > .search,
  .filters .filter {
    flex-grow: 1;
  }
}

.filters .search {
  flex-grow: 1;
}

.filters .search > input {
  margin-left: .3rem;
  border: none;
  background: transparent;
  font-size: .8rem;
  font-weight: 300;
  width: calc(100% - 18px);
}

.filters .search > img {
  width: 18px;
  height: 18px;
}

.filters input:focus {
  outline: none;
}

.filters .show-filters {
  cursor: pointer;
  flex-basis: 4rem;
  flex-shrink: 0;
}

.filters span {
  display: inline-block;
  color: #387800;
  font-weight: 500;
  font-size: .8em;
}

.filters .counter {
  display: flex;
  align-items: center;
}

.filters #spots-dec, .filters #spots-inc,
.filters #spots-drop-dec, .filters #spots-drop-inc {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-size: cover;
  background-color: #fff;
}

.filters #spots-drop-dec, .filters #spots-drop-inc {
  width: 25px;
  height: 25px;
}

.filters #spots-dec, .filters #spots-drop-dec {
  background-image: url('../../images/events/minus-circle.svg');
}

.filters #spots-inc, .filters #spots-drop-inc {
  background-image: url('../../images/events/plus-circle.svg');
}

.filters #spots-dec:focus, .filters #spots-inc:focus,
.filters #spots-drop-dec:focus, .filters #spots-drop-inc:focus {
  border: none;
  outline-width: 0;

  /* TODO: Fix up accessibility for focus */
}

.filters #spots-dec:hover, .filters #spots-inc:hover,
.filters #spots-drop-dec:hover, .filters #spots-drop-inc:hover {
  background-color: rgba(56, 120, 0, .1);
}

.filters #spots-count, .filters #spots-drop-count {
  margin: 0 .3rem;
}

.filters .competences > img {
  display: none;
}

.filters .dropdown-shell {
  position: relative;
  cursor: pointer;
}

.filters .dropdown {
  display: none;
  position: absolute;
  background: white;
  border-radius: 1rem;
  z-index: 100;
  margin-top: 5px;
}

.filters .dropdown-shell.open > .dropdown {
  display: flex;
}

.filters .dropdown.right-edge {
  right: 0;
}

.filters .dropdown-shell.open {
  background-color: rgba(56, 120, 0, .1);
}

.filters .dropdown-shell.no-border {
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
}

.filters .dropdown-chevron {
  transition: .1s;
}

.filters .dropdown-shell.open .dropdown-chevron {
  transform: rotate(180deg);
}

.filters .spots + .dropdown {
  padding: .5rem;
}

.filters .spots + .dropdown #spots-drop-count {
  margin: 0 .6rem;
  font-size: 1em;
}

.filters .spots + .dropdown .drop-close {
  margin-left: .6rem;
}

.filters .competences + .dropdown {
  flex-direction: column;
  padding: .8rem 0;
  width: 12rem;
  font-size: 1.2em;
}

.filters .competences + .dropdown > div {
  padding: 0 1rem;
}

.filters .competences + .dropdown button {
  font-family: Ubuntu;
  font-weight: 500;
  font-size: .8em;
  color: #387800;
  background: none;
  border: none;
  padding: .5rem .8rem;
  border-radius: 10px;
}

.filters .competences + .dropdown button:hover {
  background-color: rgba(56, 120, 0, .1);
}

.filters .competences + .dropdown > fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.filters .competences + .dropdown label {
  padding: .7rem 1rem;
  display: flex;
  font-size: .8em;
}

.filters .competences + .dropdown label:hover {
  background-color: rgba(56, 120, 0, .1);
}

.filters .competences + .dropdown input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  cursor: pointer;
}

.filters .competences + .dropdown .styled-checkbox {
  background-image: url('../../images/events/checkbox-off.svg');
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: .8rem;
}

.filters .competences + .dropdown input:checked + .styled-checkbox {
  background-image: url('../../images/events/checkbox-on.svg');
}

@media only screen and (min-width: 370px) {
  .filters .competences .dropdown {
    left: -30%;
    width: 160%;
  }
}

@media only screen and (min-width: 420px) {
  .filters .competences .dropdown {
    left: -15%;
    width: 130%;
  }
}

@media only screen and (min-width: 380px) {
  .filters .competences > img {
    display: block;
    margin-left: .5rem;
  }
}

@media only screen and (min-width: 480px) {
  .filters > .ellipse {
    width: 85%;
  }

  .filters .filter {
    display: flex !important;
    flex-shrink: 0;
  }

  .filters .search {
    flex-shrink: 1;
  }

  .filters .show-filters {
    display: none !important;
  }

  .filters .competences .dropdown {
    left: -25%;
    width: 150%;
  }

  .filters .date-range .dropdown {
    width: 700%;
  }
}

@media only screen and (max-width: 480px) {
  .filters > :not(.filters-collapsed) > .search {
    cursor: pointer;
  }
}

@media only screen and (min-width: 640px) {
  .filters .search > input {
    font-size: .9rem;
  }
}

@media only screen and (min-width: 639px) and (max-width: 699px) {
  .filters .hide-mb {
    display: none !important;
  }
}

@media only screen and (min-width: 700px) {
  .filters .filter > span {
    margin-right: .5rem;
  }

  .filters .date-range .dropdown {
    width: 200%;
  }

  .filters .date-range > span {
    margin-left: .5rem;
  }

  .filters .competences > img {
    margin-left: 0;
  }

  .filters .dropdown-shell.off-tb {
    background-color: white;
    cursor: default;
  }

  .filters .dropdown-shell.off-tb > .dropdown {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .filters #spots-dec,
  .filters #spots-inc,
  .filters .filter > img,
  .filters .search > img {
    width: 24px;
    height: 24px;
  }

  .filters > .ellipse {
    height: 3.35rem;
  }

  .filters > .ellipse > .show-filters {
    display: none;
  }

  .filters .search > input {
    font-size: 1.1rem;
  }

  .filters span {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .filters > .ellipse > div {
    padding: 0 1rem;
  }

  .filters .search > input {
    margin-left: .5rem;
    font-size: 1.3em;
  }

  .filters .filter > span {
    margin-right: .7rem;
  }

  .filters #spots-count {
    margin: 0 .5rem;
  }
}

@media only screen and (min-width: 1260px) {
  .filters > .ellipse {
    width: 75%;
  }
}

@media only screen and (min-width: 1600px) {
  .filters > .ellipse {
    width: 100%;
  }

  .filters {
    margin: 1rem auto 2rem;
  }
}
