.pagination {
  margin: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagination > .page {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 .3rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  font-size: 1em;
  font-weight: 500;
}

.pagination > .page.current {
  border: 1px solid #387800;
  color: #387800;
  background: rgba(56, 120, 0, 0.1);
}

.pagination > .page:hover {
  background: rgba(56, 120, 0, 0.15);
}

.pagination > input {
  width: 2rem;
  height: 2rem;
  border-radius: 5px 5px 0 0;
  margin: 0 .3rem;
  padding: 5px;
  box-sizing: border-box;

  background: rgba(56, 120, 0, 0.1);
  border: 0 solid #387800;
  border-bottom-width: 2px;
  transform: translateY(1px);

  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width: 539px) {
  .pagination > input[type=number]::-webkit-outer-spin-button,
  .pagination > input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pagination > input[type=number] {
    -moz-appearance: textfield;
  }
}

@media only screen and (min-width: 380px) {
  .pagination > .page,
  .pagination > input {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 540px) {
  .pagination {
    width: 540px;
    align-self: center;
  }

  .pagination > .page {
    width: 3rem;
    height: 3rem;
    font-size: 1.2em;
  }

  .pagination > input {
    width: 2.7rem;
    font-size: 1.2em;
    border-radius: 8px 8px 0 0;
  }

  .pagination > input:focus {
    padding-right: 3px;
  }

  .pagination > input[type=number]:not(:focus)::-webkit-outer-spin-button,
  .pagination > input[type=number]:not(:focus)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pagination > input[type=number]:not(:focus) {
    -moz-appearance: textfield;
  }
}

@media only screen and (min-width: 1024px) {
  .pagination > .page,
  .pagination > input {
    font-size: 1.3em;
  }
}
