.store {
  margin-bottom: 4em;
}

.store h2 {
  margin-left: 1em;
  margin-right: 1em;
}

.store > .subtitle,
.store > .own-designs {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

.store .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1.5em;
}

.store .card {
  margin: 1em 0;
}

.store .card > .content {
  display: flex;
  flex-direction: column;
}

.store .card .btn {
  align-self: flex-end;
}

.card > .image > img {
  width: 100%;
}

.store .card .title + .btn {
  margin-top: 1em;
}

.store > .own-designs {
  margin: 0 3em;
}

@media only screen and (min-width: 380px) {
  .store .card {
    max-width: 20em;
  }
}

@media only screen and (min-width: 500px) {
  .store > .subtitle {
    margin: 0 1em 1.2em;
  }
}

@media only screen and (min-width: 640px) {
  .store > .subtitle,
  .store > .own-designs {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 840px) {
  .store .cards {
    flex-direction: row;
    justify-content: center;
  }

  .store .card:not(:last-child) {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 900px) {
  .store .cards {
    padding: 0 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .store > .subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .store .cards {
    padding: 0 10%;
  }

  .store .card:not(:last-child) {
    margin-right: 2em;
  }
}
