header.container {
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
}

header > .logo {
  max-width: 115px;
}

@media only screen and (min-width: 386px) {
  header.container {
    margin: 2rem auto 3rem;
  }

  header > .logo {
    max-width: 140px;
  }
}

@media only screen and (min-width: 641px) {
  header.container {
    margin: 3rem auto;
    padding: 0 6rem;
  }

  header > .logo {
    max-width: 160px;
  }
}

@media only screen and (min-width: 1025px) {
  header > .logo {
    max-width: 200px;
  }

  header.container {
    margin: 3rem auto 1rem;
  }
}
