.store {
  margin-bottom: 4em;
}

.store h2 {
  margin-left: 1em;
  margin-right: 1em;
}

.store > .subtitle,
.store > .own-designs {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

.store .cards {
  display: flex;
  margin: 1.2em 2em 2em;
  flex-direction: column;
  align-items: center;
}

.store > .own-designs {
  margin: 0 3em;
}

@media only screen and (min-width: 425px) {
  .store .cards {
    margin: 0 15% 2em;
  }
}

@media only screen and (min-width: 500px) {
  .store > .subtitle {
    margin: 0 1em 1.2em;
  }
}

@media only screen and (min-width: 640px) {
  .store > .subtitle,
  .store > .own-designs {
    font-size: 1.1rem;
  }

  .store .cards {
    margin: 0 1em 2em;
    flex-direction: row;
    align-items: stretch;
  }
}

@media only screen and (min-width: 805px) {
  .store .cards {
    justify-content: space-around;
    margin: 0 3em 2em;
  }

  @supports (color-adjust: exact) {
    .store .cards {
      justify-content: space-evenly;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .store > .subtitle {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1em;
  }

  .store .cards {
    margin: 0 4em 2em 4em;
  }
}

@media only screen and (min-width: 1648px) {
  .store .cards {
    display: flex;
    justify-content: space-around;
    margin: 3em 4em 4em 4em;
  }

  @supports (color-adjust: exact) {
    .events .cards {
      justify-content: space-evenly;
    }
  }
}
