@import "../../global/src/_variables.scss";

.contacts {
  padding: 3em 0 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparentize($main, .93);
  border-top-left-radius: 250% 25%;
  border-top-right-radius: 250% 25%;

  & > header {
    flex-direction: column;
    padding: 0;
    margin: 0 0 1.5em;
  }

  .subtitle {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .8em 1.6em;
    margin: 1em 0;

    p {
      font-weight: 300;
      text-align: center;
    }
  }

  .icon {
    width: 3.6em;
    height: 3.6em;
  }
}

@media only screen and (min-width: 640px) {
  .contacts {
    .subtitle {
      font-size: 1.2em;
    }

    .card {
      p, .btn {
        font-size: 1.2em;
      }
    }
  }
}

@media only screen and (min-width: 805px) {
  .contacts {
    padding-bottom: 3em;

    & > div {
      display: flex;
      flex-direction: row;
    }

    .card {
      margin: 0 1rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .contacts {
    padding-bottom: 5em;

    .card {
      padding: .8rem 2rem;
      margin: 0 3rem;

      p {
        font-size: 1.3em;
        line-height: 1.4em;
      }

      .btn {
        font-size: 1.3em;
      }
    }
  }
}
