header {
  margin: 0 auto 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  & > .logo {
    max-width: 7rem;
  }
}

@media only screen and (min-width: 386px) {
  header {
    padding: 1.5em 2em;

    & > .logo {
      max-width: 8rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  header {
    padding: 2em 4em 1.5em;

    & > .logo {
      max-width: 9rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  header > .logo {
    max-width: 10rem;
  }

  header.container {
    padding: 2em 10% 1em;
  }
}
