@import "_attractions-theme.scss";

/* Normalization -------------------------------------- */

legend {
  padding: 0;
  display: table;
}

figure {
  margin: 0;
}

ul:not(.actual) {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

/* Common styles -------------------------------------- */

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.material {
  flex-grow: 1;
  background-color: #fff;
}

.container {
  max-width: 1648px;
  margin: auto;
}

.padded {
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: 640px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media only screen and (min-width: 840px) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.link-bottom {
  font-size: 1.05rem;
  line-height: 1.4rem;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.innopoint {
  stroke: black;
  stroke-width: 5;
  margin-bottom: -1px;
}

.text-field.with-item .item.innopoint {
  stroke: darken(#7a7a7a, 15%);
  stroke-width: 6;
  top: .8rem;
}

.error {
  color: $danger;
  font-size: .95rem;
}

.ml {
  margin-left: .4em;
}

.mr {
  margin-right: .4em;
}

.mt {
  margin-top: .4em;
}

.mb {
  margin-bottom: .4em;
}

.ml-2 {
  margin-left: 1em;
}

.mr-2 {
  margin-right: 1em;
}

.mt-2 {
  margin-top: 1em;
}

.mb-2 {
  margin-bottom: 1em;
}

.lb {
  display: inline-block;
}

.hide-on-less-tb {
  @media only screen and (max-width: 639px) {
    display: none !important;
  }
}

.hide-on-tb-and-more {
  @media only screen and (min-width: 640px) {
    display: none !important;
  }
}

.btn-align {
  padding-left: .2rem;
  padding-right: .2rem;
}

.btn-shift {
  margin-left: -.8rem;
}

.label {
  text-transform: uppercase;
  color: $main;
  font-weight: $bold-font-weight;
  font-size: .8em;

  &.small {
    font-size: .7em;
  }
}

.dialog .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;

  .btn {
    margin-left: .4em;
  }
}
