@import "_attractions-theme.scss";

/* Normalization -------------------------------------- */

:global(legend) {
  padding: 0;
  display: table;
}

:global(figure) {
  margin: 0;
}

:global(ul:not(.actual)) {
  list-style: none;
  padding: 0;
  margin: 0;
}

:global(*) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6),
:global(p),
:global(body) {
  margin: 0;
}

/* Common styles -------------------------------------- */

:global(body) {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:global(.material) {
  flex-grow: 1;
}

:global(.space-between) {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

:global(.space-between.center) {
  align-items: center;
}

:global(.container) {
  max-width: 1648px;
  margin: auto;
}

:global(.padded) {
  padding-left: 1rem;
  padding-right: 1rem;
}

:global(.link-bottom) {
  font-size: 1.05rem;
  line-height: 1.4rem;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

:global(.innopoint) {
  stroke: black;
  stroke-width: 5;
  margin-bottom: -1px;
}

:global(.text-field.with-item .item.innopoint) {
  stroke: darken(#7a7a7a, 15%);
  stroke-width: 6;
  top: .8rem;
}

:global(.warning) {
  background: #fff4e5;
  padding: .5em .8em;
  margin-top: .8em;
  border-radius: .75em;
  color: #995400;
  display: flex;
  align-items: center;

  :global(.icon) {
    stroke: #995400;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .6em;
  }
}

:global(.error) {
  color: $danger;
  font-size: .95rem;
}

@media only screen and (min-width: 640px) {
  :global(.padded) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (min-width: 840px) {
  :global(.padded) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

:global(.align-center) {
  display: flex;
  align-items: center;
}

:global(.justify-center) {
  display: flex;
  justify-content: center;
}

:global(.column) {
  flex-direction: column;
}

:global(.ml) {
  margin-left: .4em;
}

:global(.mr) {
  margin-right: .4em;
}

:global(.mt) {
  margin-top: .4em;
}

:global(.mb) {
  margin-bottom: .4em;
}

:global(.ml-2) {
  margin-left: 1em;
}

:global(.mr-2) {
  margin-right: 1em;
}

:global(.mr-1-5) {
  margin-right: .7em;
}

:global(.mt-2) {
  margin-top: 1em;
}

:global(.mb-2) {
  margin-bottom: 1em;
}

:global(.lb) {
  display: inline-block;
}

:global(.hide-tb) {
  display: none;
}

:global(.btn-align) {
  padding-left: .2rem;
  padding-right: .2rem;
}

:global(.btn-shift) {
  margin-left: -.8rem;
}

@media only screen and (min-width: 640px) {
  :global(.hide-tb) {
    display: block;
  }

  :global(.show-mb) {
    display: none;
  }
}
