/* Badges -------------------------------------- */
.badge {
  position: relative;
}

.badge::after {
  position: absolute;
  top: -3px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5757;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  content: "";
}

.badge .icon {
  display: block;
}

/* Typography -------------------------------------- */
.headline {
  color: #127800;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .2em;
}

.subhead {
  font-weight: 300;
  font-size: .95rem;
  line-height: 1.2rem;
}

h1 {
  color: #127800;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 .5em 0;
}

h2 {
  color: #127800;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 0 .4em 0;
}

h3 {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0 0 .3em 0;
}

p {
  margin: 0;
  line-height: 1.2em;
}

strong {
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  color: #127800;
  font-weight: 500;
  font-size: .8rem;
}

.label.small {
  font-size: .7rem;
}

a {
  color: #127800;
}

a:visited {
  color: #50005f;
}

@media only screen and (min-width: 640px) {
  .headline {
    font-size: 1.9rem;
  }
  .subhead {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  h1 {
    font-size: 1.55rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 840px) {
  .headline {
    font-size: 2rem;
  }
  .subhead {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 1024px) {
  .headline {
    font-size: 2.1rem;
  }
  .subhead {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .headline {
    font-size: 2.2rem;
  }
}

/* Dividers -------------------------------------- */
hr {
  border: 0 solid #ddd;
  border-top-width: 1px;
  margin-top: 1em;
  width: 100%;
}

hr[data-text] {
  position: relative;
  overflow: visible;
}

hr[data-text]::after {
  content: attr(data-text);
  background: #fff;
  padding: 0 .4em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: .85rem;
}

/* Buttons -------------------------------------- */
.btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #127800;
  text-decoration: none;
  outline: none;
  background: none;
  padding: .8em 1.1em;
  border-radius: 1.5625em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn::-moz-focus-inner {
  border: 0;
}

.btn:visited {
  color: #127800;
}

.btn.normal {
  color: #333;
}

.btn.normal > svg {
  stroke: black;
}

.btn.danger {
  color: #ab0303;
}

.btn.danger > svg {
  stroke: #ab0303;
}

.btn.rectangle {
  border-radius: 15px;
  padding: 1.2em;
  font-size: 1.1rem;
}

.btn.filled {
  background: #127800;
  background: linear-gradient(0deg, #127800 0%, #169200 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.btn.filled:hover:not(:disabled), .btn.filled:focus {
  background: #148200;
  background: linear-gradient(0deg, #148200 0%, #179c00 100%);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn.filled:focus:not(:disabled) {
  background: #158c00;
  background: linear-gradient(0deg, #169200 0%, #1aab00 100%);
}

.btn.filled.danger {
  background: #ab0303;
  background: linear-gradient(0deg, #ab0303 0%, #c40303 100%);
}

.btn.filled.danger:hover:not(:disabled), .btn.filled.danger:focus {
  background: #b50303;
  background: linear-gradient(0deg, #b50303 0%, #ce0303 100%);
}

.btn.filled.danger:focus:not(:disabled) {
  background: #bf0303;
  background: linear-gradient(0deg, #c40303 0%, #dd0404 100%);
}

.btn.filled:disabled {
  background: #d7d7d7;
  box-shadow: none;
}

.btn.filled > svg {
  stroke: white;
}

.btn.outline {
  border: 1px solid #127800;
}

.btn.outline.danger {
  border-color: #ab0303;
}

.btn.outline.normal {
  border-color: #333;
}

.btn.outline:disabled {
  border-color: #d7d7d7;
}

.btn:hover:not(:disabled), .btn:hover:not(:disabled).outline {
  background: rgba(18, 120, 0, 0.05);
}

.btn:hover:not(:disabled).danger, .btn:hover:not(:disabled).outline.danger {
  background: rgba(171, 3, 3, 0.05);
}

.btn:hover:not(:disabled).normal, .btn:hover:not(:disabled).outline.normal {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn:focus:not(:disabled), .btn:focus:not(:disabled).outline {
  background-color: rgba(18, 120, 0, 0.12);
}

.btn:focus:not(:disabled).danger, .btn:focus:not(:disabled).outline.danger {
  background: rgba(171, 3, 3, 0.12);
}

.btn:focus:not(:disabled).normal, .btn:focus:not(:disabled).outline.normal {
  background-color: rgba(0, 0, 0, 0.12);
}

.btn:disabled {
  color: #888;
  background-color: transparent;
  cursor: default;
}

.btn:disabled > svg {
  stroke: #888;
}

.btn.round {
  padding: .7em;
}

.btn > svg {
  stroke: #127800;
}

button.btn {
  border: none;
}

/* Text Fields -------------------------------------- */
.text-field input[type="search"]::-webkit-search-cancel-button {
  position: relative;
  top: 1px;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 3px solid transparent;
  background: url("../../images/icons/x.svg");
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
}

.text-field input[type="search"]::-webkit-search-cancel-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.text-field input, .text-field textarea {
  outline: none;
  padding: 0 10px 1px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  border: 0 solid rgba(0, 0, 0, 0.42);
  border-bottom-width: 1px;
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  height: 2.8em;
}

.text-field input:hover, .text-field textarea:hover {
  background-color: #ededed;
}

.text-field input:hover:disabled, .text-field textarea:hover:disabled {
  background-color: #f8f8f8;
}

.text-field input:focus, .text-field textarea:focus {
  background-color: #e1e1e1;
  border-bottom-width: 2px;
  border-color: #158c00;
  padding-bottom: 0;
}

.text-field input:disabled {
  background-color: #f8f8f8;
  border-color: rgba(0, 0, 0, 0.2);
  color: #888;
}

.text-field textarea {
  padding: 12px 10px 1px;
  height: 6em;
}

.text-field.with-item {
  position: relative;
}

.text-field.with-item.left {
  flex-direction: row-reverse;
}

.text-field.with-item.left input, .text-field.with-item.left textarea {
  padding-left: 3rem;
}

.text-field.with-item.left input[type="search"] {
  padding-left: 2.2em;
}

.text-field.with-item.left > .item {
  left: 10px;
  font-weight: 500;
}

.text-field.with-item.left > .item:not(svg) {
  color: rgba(0, 0, 0, 0.5);
}

.text-field.with-item.left > input:focus + .item {
  color: #127800;
}

.text-field.with-item.right input, .text-field.with-item.right textarea {
  padding-right: 30px;
  text-align: right;
}

.text-field.with-item.right > .item {
  right: 10px;
}

.text-field.with-item.right > input:focus + .item svg {
  stroke: #127800;
}

.text-field.with-item.right-align input {
  text-align: right;
}

.text-field.with-item input[type="number"] {
  -moz-appearance: textfield;
}

.text-field.with-item input[type="number"]::-webkit-outer-spin-button, .text-field.with-item input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-field.with-item > .item {
  height: 1.1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
}

.text-field.with-item > svg.item {
  height: 1rem;
  margin-top: -2px;
}

.text-field.with-item input:invalid + svg.item {
  stroke: #ab0303;
}

.text-field.outline {
  position: relative;
}

.text-field.outline label {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.42);
  padding: 0 4px;
  position: absolute;
  top: 0;
  left: 1.4rem;
  transform: translate(-4px, -55%);
  border-radius: 5px;
}

.text-field.outline.with-item.left input {
  padding-left: 2.2rem;
}

.text-field.outline.with-item.left label {
  left: 2.2rem;
}

.text-field.outline.with-item.left svg {
  stroke: #888;
}

.text-field.outline.with-item.left > input:focus ~ .item {
  color: #127800;
}

.text-field.outline input {
  border-radius: 1.5625em;
  border: 1px solid rgba(0, 0, 0, 0.42);
  background-color: transparent;
  padding: 0 1.4rem;
}

.text-field.outline input:hover {
  border-color: rgba(0, 0, 0, 0.7);
}

.text-field.outline input:hover + label {
  color: rgba(0, 0, 0, 0.7);
}

.text-field.outline input:focus {
  border-color: #127800;
}

.text-field.outline input:focus + label {
  color: #127800;
}

.text-field.outline input:invalid {
  border-color: rgba(171, 3, 3, 0.7);
}

.text-field.outline input:invalid + label {
  color: rgba(171, 3, 3, 0.7);
}

.text-field.outline input:invalid ~ svg.item {
  stroke: rgba(171, 3, 3, 0.7);
}

.text-field.outline input:invalid ~ .error {
  display: inline;
}

.text-field.outline input:focus ~ svg.item {
  stroke: #127800;
}

.text-field input:invalid {
  box-shadow: none;
  border-bottom-color: #ab0303;
  background: #fbeeee;
}

.text-field input:not(.outline):invalid {
  background-color: #fbeeee;
}

.text-field :-moz-ui-invalid {
  box-shadow: none;
}

.text-field > .error {
  display: none;
  font-size: .8rem;
  color: rgba(171, 3, 3, 0.7);
  font-weight: 500;
  position: absolute;
  bottom: -1.5rem;
}

.text-field.no-spinner > input[type="number"] {
  -moz-appearance: textfield;
}

.text-field.no-spinner > input[type="number"]::-webkit-inner-spin-button, .text-field.no-spinner > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
}

.form-field label {
  display: flex;
  flex-direction: column;
}

.form-field .name {
  font-size: 1.2rem;
  margin-bottom: .2em;
}

.form-field .desc {
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.2rem;
}

.form-field .required {
  color: #127800;
}

.form-field .text-field + .required {
  padding-left: 10px;
  margin: 5px 0 0 0;
  font-size: .8rem;
}

.form-field .text-field-wrapper .text-field {
  width: 100%;
  margin-bottom: 5px;
}

.form-field .text-field-wrapper .text-field:only-child {
  margin-bottom: 20px;
}

.form-field.error .text-field input, .form-field.error .text-field textarea {
  box-shadow: none;
  border-bottom-color: #ab0303;
  background: #fbeeee;
}

.form-field.error .text-field + .required {
  color: #ab0303;
}

.form-field.error .dropdown-shell .btn.handle {
  color: #ab0303;
}

.form-field.error .dropdown-shell .btn.handle > svg {
  stroke: #ab0303;
}

.form-field.error .dropdown-shell .btn.handle:hover:not(:disabled) {
  background: rgba(171, 3, 3, 0.05);
}

.form-field.error .dropdown-shell .btn.handle:focus:not(:disabled) {
  background: rgba(171, 3, 3, 0.12);
}

.form-field.error .dropdown-shell.open .btn.handle {
  background: rgba(171, 3, 3, 0.05);
}

/* Radio Buttons -------------------------------------- */
.radio {
  position: relative;
}

.radio > input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.radio > .icon {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #ddd;
}

.radio > input:disabled + .icon {
  cursor: not-allowed;
  background-color: #eee;
}

.radio > input:checked + .icon {
  background-color: #127800;
  border-color: #127800;
}

.radio > input:disabled:checked + .icon {
  background-color: #999;
  border-color: #959595;
}

.radio > input:checked + .icon::before {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radio > .icon::after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.radio:hover > :not(:disabled) + .icon::after {
  background-color: rgba(0, 0, 0, 0.05);
}

.radio:hover > input:checked + .icon::after {
  background-color: rgba(18, 120, 0, 0.05);
}

.radio > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, 0.125);
}

.radio > input:focus:checked + .icon::after {
  background-color: rgba(18, 120, 0, 0.125);
}

.radio.colored:hover > input + .icon::after,
label:hover .radio.colored > input + .icon::after {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: rgba(var(--r), var(--g), var(--b), 0.05);
}

.radio.colored > input:focus + .icon::after,
label:hover .radio.colored > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, 0.125);
  background-color: rgba(var(--r), var(--g), var(--b), 0.125);
}

/* Checkboxes -------------------------------------- */
.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox > input[type="checkbox"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.checkbox > .icon {
  border-radius: 4px;
  width: 16px;
  height: 16px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.checkbox.round > .icon {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.checkbox > input:checked + .icon {
  background-color: #127800;
  border-color: #127800;
}

.checkbox > input:checked + .icon::before {
  width: 9px;
  height: 6px;
  border: 0 solid #fff;
  border-bottom-width: 2px;
  border-left-width: 2px;
  content: "";
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%) rotate(-57deg) skew(-11deg);
  border-bottom-left-radius: 2px;
}

.checkbox > .icon::after {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:hover > .icon::after,
label:hover .checkbox > .icon::after {
  background-color: rgba(0, 0, 0, 0.05);
}

.checkbox:hover > input:checked + .icon::after,
label:hover .checkbox > input:checked + .icon::after {
  background-color: rgba(18, 120, 0, 0.05);
}

.checkbox > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, 0.125);
}

.checkbox > input:focus:checked + .icon::after,
label:hover .checkbox > input:focus:checked + .icon::after {
  background-color: rgba(18, 120, 0, 0.125);
}

.clickable {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.with-labels .checkbox {
  margin-right: 12px;
}

.checkbox.colored:hover > input + .icon::after,
label:hover .checkbox.colored > input + .icon::after {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: rgba(var(--r), var(--g), var(--b), 0.05);
}

.checkbox.colored > input:focus + .icon::after,
label:hover .checkbox.colored > input:focus + .icon::after {
  background-color: rgba(0, 0, 0, 0.125);
  background-color: rgba(var(--r), var(--g), var(--b), 0.125);
}

/* Switches -------------------------------------- */
.switch {
  position: relative;
  width: 32px;
  height: 18px;
  border-radius: 12px;
  border: 2px solid #999;
  cursor: pointer;
}

.switch.two-state {
  border-color: #127800;
}

input.switch-ctl {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.switch > .knob {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: transform 100ms;
}

.switch.two-state > .knob {
  background-color: #127800;
}

input:checked ~ .switch {
  border-color: #127800;
}

input:checked ~ .switch > .knob {
  background-color: #127800;
  transform: translateY(-50%) translateX(100%);
}

.switch::before {
  width: 52px;
  height: 38px;
  border-radius: 18px;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.switch:hover::before,
label:hover .switch::before {
  background-color: rgba(0, 0, 0, 0.05);
}

input:checked ~ .switch:hover::before,
label:hover input:checked ~ .switch::before,
.switch.two-state:hover::before,
label:hover .switch.two-state::before {
  background-color: rgba(18, 120, 0, 0.05);
}

input:focus ~ .switch::before {
  background-color: rgba(0, 0, 0, 0.1);
}

input:focus:checked ~ .switch::before,
label:hover input:focus:checked ~ .switch::before,
input:focus ~ .switch.two-state::before,
label:hover input:focus ~ .switch.two-state::before {
  background-color: rgba(18, 120, 0, 0.1);
}

.switch-wrapper .state {
  color: #999;
  font-weight: 500;
}

.switch-wrapper .state.first {
  margin-right: .8em;
}

.switch-wrapper .state.second {
  margin-left: .8em;
}

.switch-wrapper input:not(:checked) ~ .first {
  color: #127800;
}

.switch-wrapper input:checked ~ .second {
  color: #127800;
}

/* Cards -------------------------------------- */
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5em;
  overflow: hidden;
}

.card.with-image {
  padding: 0;
}

.card.with-image > .image {
  width: 100%;
}

.card.with-image > .content {
  padding: .8em 1.3em;
}

.card.with-image .title {
  font-size: 1.15rem;
  font-weight: 400;
}

.card.with-image .subtitle {
  font-size: .95rem;
  font-weight: 300;
}

/* Chips -------------------------------------- */
.chip-wrapper > input {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.chip {
  border-radius: 1.5625em;
  background-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  padding: .6em .9em;
  font-weight: 500;
}

.chip:not(.unclickable) {
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.chip.small {
  padding: .5em;
  font-size: .9rem;
  min-width: .9rem;
  text-align: center;
}

.chip.outline {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.chip.unclickable.outline {
  border-color: #127800;
}

input:disabled + .chip {
  background-color: rgba(0, 0, 0, 0.03);
  color: #aaa;
  cursor: default;
}

input:disabled + .chip:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

input + .chip:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

input + .chip.outline:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

input:focus + .chip {
  background-color: rgba(0, 0, 0, 0.18);
}

input:focus + .chip.outline {
  background-color: rgba(0, 0, 0, 0.1);
}

input:checked + .chip {
  background-color: rgba(18, 120, 0, 0.12);
  color: #127800;
}

input:checked + .chip.outline {
  background-color: rgba(18, 120, 0, 0.06);
  color: #127800;
  border-color: #127800;
}

input:focus:checked + .chip {
  background-color: rgba(18, 120, 0, 0.25);
}

input:focus:checked + .chip.outline {
  background-color: rgba(18, 120, 0, 0.12);
}

input[type="checkbox"] + .chip {
  position: relative;
}

input[type="checkbox"]:checked + .chip {
  padding-left: 2em;
}

input[type="checkbox"] + .chip::before {
  border: 0 solid #127800;
  content: "";
}

input[type="checkbox"]:checked + .chip::before {
  width: 5px;
  height: 9px;
  border-bottom-width: 2px;
  border-right-width: 2px;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  left: .9em;
  top: 45%;
}

/* Dialogs -------------------------------------- */
.dialog {
  border-radius: 1.5625em;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 1.6em 2em 1.4em;
  position: relative;
  background-color: #fff;
  margin-left: .5em;
  margin-right: .5em;
}

.dialog .title {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: .7em;
  padding-right: 1.5em;
  color: #127800;
}

.dialog .title .icon {
  stroke: #127800;
  margin-right: .5em;
  flex-shrink: 0;
}

.dialog .message .icon {
  stroke: #127800;
}

.dialog > .btn.close {
  position: absolute;
  top: .7em;
  right: .7em;
}

.dialog .message > .icon {
  margin-right: .7em;
  flex-shrink: 0;
}

.dialog .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: .9em;
}

.dialog .actions > .btn {
  margin-left: .5em;
}

.dialog .constrain-width {
  max-width: 30em;
}

.dialog .consequences {
  display: block;
  margin-top: .3em;
  font-weight: 300;
}

.dialog.danger .title {
  color: #ab0303;
}

.dialog.danger .title .icon {
  stroke: #ab0303;
}

.dialog.notice {
  box-shadow: none;
  border: 1px solid #127800;
  padding: 1em 1.5em .6em;
}

.dialog.notice p {
  margin-top: .3em;
}

.dialog.notice .message {
  display: flex;
  align-items: flex-start;
}

.dialog .content {
  max-height: calc(100vh - 10em);
  overflow-y: auto;
}

/* Carousel -------------------------------------- */
.carousel {
  position: relative;
}

.carousel .curr-slide > img {
  width: 100%;
}

.carousel .slides {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel .slide > input {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.carousel .slide > .icon {
  border-radius: 1.5625em;
  height: 7px;
  width: 1.2em;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 3px;
  cursor: pointer;
}

.carousel .slide > .icon:hover {
  background-color: rgba(0, 0, 0, 0.28);
}

.carousel .slide > input:checked + .icon {
  background-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(var(--r), var(--g), var(--b), 0.3);
}

.carousel .slide > input:checked + .icon:hover {
  background-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(var(--r), var(--g), var(--b), 0.6);
}

.carousel .slide > input:focus + .icon {
  background-color: white;
  background-color: rgba(var(--r), var(--g), var(--b), 1);
}

.carousel .prev-slide,
.carousel .next-slide {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(-50%);
  padding: .4em;
}

.carousel .prev-slide:hover,
.carousel .next-slide:hover {
  background-color: rgba(0, 0, 0, 0.32);
}

.carousel .prev-slide:focus,
.carousel .next-slide:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel .prev-slide {
  left: 10px;
}

.carousel .next-slide {
  right: 10px;
}

.carousel .prev-slide svg,
.carousel .next-slide svg {
  stroke: #fff;
}

/* Labeled Elements -------------------------------------- */
.labeled {
  display: flex;
}

.labeled.text {
  flex-direction: column;
}

.labeled .text {
  display: flex;
  flex-direction: column;
}

.labeled .label {
  margin-bottom: .2em;
}

.labeled > .icon {
  margin-right: .4em;
  margin-top: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  stroke: #127800;
}

.labeled > .icon svg {
  stroke: #127800;
}

/* Dropdowns -------------------------------------- */
.dropdown-shell, .relative-wrapper {
  position: relative;
}

.dropdown-shell > .handle > .chevron {
  margin-left: .5em;
  margin-bottom: -2px;
  transition: transform 100ms;
}

.dropdown {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  z-index: 1001;
  margin-top: 5px;
}

.dropdown.top {
  top: 0;
  transform: translateY(-100%);
  margin-top: -5px;
}

.dropdown-shell.open .dropdown {
  clip: auto;
  height: auto;
  width: auto;
}

.dropdown.right-edge {
  right: 0;
}

.dropdown-shell.open > .handle {
  background-color: rgba(18, 120, 0, 0.12);
}

.dropdown-shell.open > .handle > .chevron {
  transform: rotate(180deg);
}

.dropdown .btn.close {
  float: right;
  margin-right: .7em;
}

/* Accordions -------------------------------------- */
.accordion > section {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.accordion > .panel.open + section {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.accordion > .panel .chevron {
  transition: transform 100ms;
  margin-bottom: -2px;
}

.accordion > .panel.open .chevron {
  transform: rotate(180deg);
}

/* Dots -------------------------------------- */
.dot {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  margin-left: .5em;
  display: inline-block;
}

.dot.small {
  width: .6em;
  height: .6em;
}

.dot.new {
  background-color: #86d3ff;
}

.dot.attention {
  background-color: #ffb359;
}

.dot.active {
  background-color: rgba(18, 120, 0, 0.5);
}

.dot.pending {
  background-color: rgba(134, 211, 255, 0.5);
}

/* Choice Buttons -------------------------------------- */
.choice-btn > input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.choice-btn > .repr {
  border: 1px solid #127800;
  border-radius: 15px;
  padding: 1.2em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #127800;
  font-weight: 500;
  font-size: 1.1rem;
}

.choice-btn:hover > .repr {
  background-color: rgba(18, 120, 0, 0.05);
}

.choice-btn > input:checked + .repr {
  background-color: rgba(18, 120, 0, 0.1);
}

.choice-btn > input:focus + .repr {
  background-color: rgba(18, 120, 0, 0.12);
}

.choice-btn .icon {
  margin-right: .8em;
  stroke: #127800;
}

@media only screen and (min-width: 480px) {
  .choice-btn > .repr {
    padding: 1.5em 1em;
    flex-direction: column;
  }
  .choice-btn .icon {
    margin-right: 0;
    margin-bottom: .5em;
    width: 30px;
    height: 30px;
    stroke-width: 1.5;
  }
}

@media only screen and (min-width: 840px) {
  .choice-btn > .repr {
    font-size: 1.2rem;
  }
  .choice-btn .icon {
    width: 48px;
    height: 48px;
  }
}

/* Tabs -------------------------------------- */
.tabs {
  display: flex;
  justify-content: space-between;
}

.tab > input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.tab > .icon {
  border-bottom: 2px solid rgba(196, 196, 196, 0.6);
  font-weight: 500;
  color: #127800;
  padding: .8em .3em .5em;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  user-select: none;
}

.tab > .icon:hover {
  background: rgba(196, 196, 196, 0.1);
}

.tab > input:focus + .icon {
  background: rgba(196, 196, 196, 0.15);
}

.tab > input:checked + .icon {
  border-color: rgba(18, 120, 0, 0.6);
}

/* Popovers -------------------------------------- */
.popover-container {
  position: relative;
}

.popover {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.popover-container:not(:hover) > .popover {
  display: none;
}

.popover.btn {
  background: rgba(100, 100, 100, 0.9);
  border-radius: 10px;
  font-size: .9rem;
  color: #fff;
  padding: 8px 10px;
}

.popover.btn:hover {
  background: rgba(70, 70, 70, 0.9);
}

.popover.btn:focus {
  background: rgba(50, 50, 50, 0.9);
}

.popover.btn > .icon {
  width: 18px;
  height: 18px;
  stroke: #fff;
}

/* Autocomplete -------------------------------------- */
.autocomplete-field {
  padding: 0 10px 1px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  background-color: #f5f5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.autocomplete-field:hover {
  background-color: #ededed;
}

.autocomplete-field.focus {
  background-color: #e1e1e1;
  border-bottom-width: 2px;
  border-color: #158c00;
  padding-bottom: 0;
}

.autocomplete-field .dropdown-shell {
  height: 3.125rem;
  flex: 1;
}

.autocomplete-field input {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  border: none;
  background: none;
  outline: none;
  min-width: 13em;
  height: 100%;
  width: 100%;
}

.autocomplete-field .chip {
  font-weight: 400;
  font-size: .9rem;
  margin: .5em .5em .5em 0;
  display: flex;
  align-items: center;
  padding: 0 0 0 .9em;
}

.autocomplete-field .chip .btn {
  padding: .5em;
  margin-left: .2em;
}

.autocomplete-field .chip .icon {
  width: 18px;
  height: 18px;
}

.autocomplete-field .dropdown {
  padding: .5em 0;
  border-radius: .5em;
  margin-left: -1.5em;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.autocomplete-field .dropdown li {
  padding: .8em 2.5em .8em 1.5em;
  cursor: pointer;
}

.autocomplete-field .dropdown li:hover {
  background: rgba(18, 120, 0, 0.08);
}

.autocomplete-field .dropdown li mark {
  background: none;
  color: #127800;
}

/* Star rating -------------------------------------- */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-rating label {
  padding: .5em;
  border-radius: 50%;
  cursor: pointer;
}

.star-rating label:hover {
  background: rgba(18, 120, 0, 0.05);
}

.star-rating label:hover .star {
  stroke: rgba(18, 120, 0, 0.4);
}

.star-rating label:hover ~ label .star {
  stroke: rgba(18, 120, 0, 0.4);
}

.star-rating label .star {
  stroke: #ddd;
  display: block;
}

.star-rating input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.star-rating input:checked + label .star,
.star-rating input:checked ~ input + label .star {
  stroke: #127800;
}
