@import "global/common.scss";
@import "_attractions-theme.scss";

.material {
  & > .justify-center {
    margin-top: 1em;
  }

  :global(.text-field.with-item.left input) {
    padding-left: 2.3em;
  }
}

.justify-center {
  display: flex;
  justify-content: center;
}

.projects {
  padding: 0 1em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  :global(h1) {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      justify-items: start;

      :global(.text) {
        grid-column: 2 / 3;
      }
    }
  }

  @media only screen and (min-width: 500px) {
    padding: 0 1.5em;
  }

  @media only screen and (min-width: 640px) {
    :global(h1) {
      font-size: 1.4rem;
    }
  }

  @media only screen and (min-width: 840px) {
    padding: 0 8%;
  }

  @media only screen and (min-width: 1024px) {
    :global(h1) {
      font-size: 1.6rem;
    }
  }
}
