.container-403 {
  padding-top: 1.5em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;

  .picture {
    margin: 1em 0 2em;
    width: 100%;
  }

  .card {
    padding: 1.2em;
    align-self: center;
    max-width: 16em;
  }

  .card .title {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .card .subtitle {
    font-size: .9rem;
    margin-top: .3em;
  }

  .card .actions {
    display: flex;
    margin-top: .8em;
  }

  .card .actions .btn:first-child {
    margin-right: .5em;
  }

  @media only screen and (min-width: 360px) {
    .card {
      padding: 1.5em;
    }
  }

  @media only screen and (min-width: 480px) {
    .card .actions .btn:first-child {
      margin-right: 1em;
    }

    .card {
      max-width: 16.5em;
      flex-shrink: 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    .picture {
      width: 60%;
      margin-right: 2em;
    }
  }

  @media only screen and (min-width: 1200px) {
    .picture {
      margin-right: 10%;
    }
  }
}

.title-403 {
  margin-top: 1em;
}

@media only screen and (min-width: 1024px) {
  .container-403 {
    flex-direction: row;
  }
}

.container-403 {
  padding-top: 1.5em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;

  .picture {
    margin: 1em 0 2em;
    width: 100%;
  }

  .card {
    padding: 1.2em;
    align-self: center;
    max-width: 16em;
  }

  .card .title {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .card .subtitle {
    font-size: .9rem;
    margin-top: .3em;
  }

  .card .actions {
    display: flex;
    margin-top: .8em;
  }

  .card .actions .btn:first-child {
    margin-right: .5em;
  }

  @media only screen and (min-width: 360px) {
    .card {
      padding: 1.5em;
    }
  }

  @media only screen and (min-width: 480px) {
    .card .actions .btn:first-child {
      margin-right: 1em;
    }

    .card {
      max-width: 16.5em;
      flex-shrink: 0;
    }
  }

  @media only screen and (min-width: 1200px) {
    .picture {
      margin-right: 10%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container-403 {
    flex-direction: row;

    .picture {
      width: 60%;
      margin-right: 2em;
    }
  }
}
