@use "sass:color";
@use "_attractions-theme.scss";

header {
  height: 3.5em;
  border-bottom: 1px solid color.adjust(attractions-theme.$main, $alpha: -.76);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    color: attractions-theme.$main;
    fill: attractions-theme.$main;
    text-decoration: none;
    font-weight: attractions-theme.$bold-font-weight;
    font-family: attractions-theme.$header-font;
    font-size: 1.3rem;

    img {
      width: 2em;
    }
  }

  .actions {
    display: flex;
  }

  @media only screen and (min-width: 640px) {
    .hide-on-less-tb {
      margin-left: .6em;
    }

    .logo {
      display: flex;
      align-items: center;
    }
  }
}
