@mixin styles {
  .bar:nth-child(1) > .future {
    background-color: rgba(237, 137, 137, .5);
  }

  .bar:nth-child(1) .present {
    background-color: rgb(237, 137, 137);
  }

  /* ----- */

  .bar:nth-child(2) > .future {
    background-color: rgba(237, 195, 137, .5);
  }

  .bar:nth-child(2) .present {
    background-color: rgb(237, 195, 137);
  }

  /* ----- */

  .bar:nth-child(3) > .future {
    background-color: rgba(229, 237, 137, .5);
  }

  .bar:nth-child(3) .present {
    background-color: rgb(229, 237, 137);
  }

  /* ----- */

  .bar:nth-child(4) > .future {
    background-color: rgba(170, 237, 137, .5);
  }

  .bar:nth-child(4) .present {
    background-color: rgb(170, 237, 137);
  }

  /* ----- */

  .bar:nth-child(5) > .future {
    background-color: rgba(137, 237, 200, .5);
  }

  .bar:nth-child(5) .present {
    background-color: rgb(137, 237, 200);
  }

  /* ----- */

  .bar:nth-child(6) > .future {
    background-color: rgba(137, 219, 237, .5);
  }

  .bar:nth-child(6) .present {
    background-color: rgb(137, 219, 237);
  }

  /* ----- */

  .bar:nth-child(7) > .future {
    background-color: rgba(137, 151, 237, .5);
  }

  .bar:nth-child(7) .present {
    background-color: rgb(137, 151, 237);
  }

  /* ----- */

  .bar:nth-child(8) > .future {
    background-color: rgba(185, 137, 237, .5);
  }

  .bar:nth-child(8) .present {
    background-color: rgb(185, 137, 237);
  }

  /* ----- */

  .bar:nth-child(9) > .future {
    background-color: rgba(237, 137, 237, .5);
  }

  .bar:nth-child(9) .present {
    background-color: rgb(237, 137, 237);
  }
}
