form > .actions {
  margin-top: 1.5em;
  padding-bottom: 4em;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  & > .btn {
    margin-bottom: .5em;
  }

  & > .btn:not(:first-child) {
    margin-left: 1em;
  }
}
