@import "../../global/src/_variables.scss";

nav.dropdown-shell {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 1em;
}

form {
  padding: 0 10px 4em 10px;
}

form > .card {
  margin-top: .5em;
  align-self: stretch;
  border-radius: 1em;
}

form > .btn {
  align-self: flex-start;
}

form > .actions {
  border-top: 1px solid $light-gray;
  padding-top: 1.5em;
  margin-top: 1em;
}

@media only screen and (min-width: 740px) {
  form > .card,
  form > .btn,
  form > .actions {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}

@media only screen and (min-width: 1200px) {
  .material form {
    margin-left: 8%;
    margin-right: 8%;
  }
}
