@import "../../global/src/_variables.scss";
@import "../../global/src/_mixins.scss";

.material {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 1.5em;
}

h2 {
  margin-bottom: 1em;
}

.step0 {
  flex-direction: column;
  align-items: center;

  h1, h2 {
    text-align: center;
  }

  .left {
    padding-left: 1em;
    padding-right: 1em;

    .illustration {
      display: none;
    }

    h1 {
      text-align: left;
    }
  }

  .right {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2.5em;
    font-size: .9rem;
  }

  .tablet {
    display: none;
  }

  .drafts {
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
      margin-top: 1em;
      padding-right: .6em;
      padding-bottom: .6em;
      max-width: 18em;

      .title {
        font-size: 1.05rem;
        margin-bottom: .3em;
      }

      .subtitle {
        font-size: .9rem;
        font-weight: 300;
      }

      .actions {
        margin-top: .5em;
        display: flex;
      }
    }

    nav {
      display: flex;
      margin-top: 1em;
    }
  }

  .templates {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;

    .actions {
      margin-top: .5em;
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-bottom: 1.5em;
    }

    .btn {
      margin-top: .5em;
    }
  }

  .no-drafts {
    text-align: center;

    .clarification {
      font-weight: 300;
      margin-top: .5em;
      margin-bottom: 1.5em;
    }
  }

  @media only screen and (min-width: 420px) {
    .templates .actions {
      flex-direction: row;

      .btn:first-child {
        margin-right: .5em;
      }
    }
  }

  @media only screen and (min-width: 640px) {
    .left, .right {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }

  @media only screen and (min-width: 720px) {
    .mobile {
      display: none !important;
    }

    .tablet {
      display: flex;
    }

    .drafts .cards {
      display: flex;
      align-items: center;

      .card {
        margin-left: .5em;
        margin-right: .5em;
      }
    }

    .templates {
      margin-top: 2em;
    }
  }

  @media only screen and (min-width: 840px) {
    .left, .right {
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;

    .left {
      padding-left: 8%;
      padding-right: 2.5rem;

      .illustration {
        display: block;
        width: 100%;
        max-width: 30em;
        margin-top: 3em;
      }
    }

    .right {
      padding-right: 8%;
      padding-left: 2.5rem;
      font-size: 1rem;
    }
  }

}

.step1 {
  .form-field {
    flex-direction: column;
    margin-top: 2em;

    .text-field-wrapper {
      margin-top: 1em;
    }

    .image-picker {
      margin-top: 1em;
      align-self: flex-start;
    }
  }

  .image-picker {
    display: flex;
    flex-direction: column;
  }

  .image-picker:not(.selected) {
    img, .btn.danger {
      display: none;
    }
  }

  .image-picker.selected {
    img {
      border-radius: 10px;
      width: 100%;
      margin-bottom: .5em;
    }

    .btn.option {
      display: none;
    }

    .btn.danger {
      align-self: flex-start;

      .icon {
        margin-right: .4em;
      }
    }
  }

  @media only screen and (min-width: 420px) {
    .image-picker.selected {
      flex-direction: row;

      .btn.danger {
        padding: .7em;

        .text {
          @include hide-accessible;
        }

        .icon {
          margin-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 640px) {
    .form-field .image-picker {
      display: flex;

      .btn:first-child {
        margin-right: 1em;
      }
    }
  }

  @media only screen and (min-width: 780px) {
    .form-field {
      flex-direction: row;

      label {
        flex-basis: 48%;
      }

      .text-field-wrapper, .image-picker {
        flex-basis: 50%;
      }

      .image-picker:not(.selected) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .form-field label {
      flex-basis: 45%;
      margin-right: 2em;
    }
  }
}

.step2 {
  nav.dropdown-shell {
    margin-bottom: 1em;
  }

  form {
    padding: 0 10px 4em 10px;

    & > .card {
      margin-top: .5em;
      align-self: stretch;
      border-radius: 1em;
    }

    & > .btn {
      align-self: flex-start;
      margin-top: 1em;
    }

    & > .actions {
      border-top: 1px solid $light-gray;
      padding-top: 1.5em;
      margin-top: 1em;
    }

    @media only screen and (min-width: 640px) {
      width: calc(100% - 20px);
    }

    @media only screen and (min-width: 740px) {
      & > .card, & > .btn, & > .actions {
       margin-left: 2.5em;
       margin-right: 2.5em;
      }
    }

    @media only screen and (min-width: 1200px) {
      margin-left: 8%;
      margin-right: 8%;
    }
  }
}

.step3 {
  form {
    padding-left: 10px;
    padding-right: 10px;
  }

  p + .label {
    margin: 1.5em 0 .5em 5px;
  }

  .error > .btn {
    display: inline-flex;
  }

  p {
    font-size: .95rem;
    line-height: 1.3rem;
    margin-top: .5em;
  }

  p:first-of-type:not(.error) {
    margin-top: 2em;
  }

  .autocomplete-field {
    margin-bottom: 1em;

    .dropdown {
      max-height: 12em;
      overflow-y: auto;
    }
  }

  @media only screen and (max-width: 479px) {
    .autocomplete-field {
      .dropdown {
        margin-top: 0;
        margin-left: -10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      input {
        padding-left: 1em;
      }
    }
  }

  @media only screen and (min-width: 480px) {
    form {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  @media only screen and (min-width: 640px) {
    form {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }

  @media only screen and (min-width: 640px) {
    form {
      padding-left: 8%;
      padding-right: 8%;
    }

    p + .label {
      margin-top: 4em;
    }

    .autocomplete-field {
      margin-bottom: 6em;
    }
  }
}
