@import "_attractions-theme.scss";

.notice {
  border-radius: 1em;
  border: .0625em solid $main;
  padding: 1em 1em 1em;
  margin: 1em 0;
  display: flex;
  align-items: flex-start;

  & > .icon {
    color: $main;
    margin-right: .7em;
    flex-shrink: 0;
  }

  &.warning {
    background: $warning-bg;
    color: $warning-fg;
    border-width: 0;
    font-size: .9em;
    align-items: center;

    & > .icon {
      color: $warning-fg;
    }
  }

  :global {
    p {
      margin-top: .3em;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: .9em;

      & > .btn {
        margin-left: .5em;
      }
    }
  }
}
