@use "sass:color";
@use "_attractions-theme.scss";

.notification {
  padding: 1em 0 .25em;
  border-bottom: 1px solid attractions-theme.$light-contrast;
  overflow: auto;

  .content {
    font-weight: attractions-theme.$thin-font-weight;
    font-size: .95rem;
  }

  time {
    color: color.adjust(attractions-theme.$dark, $lightness: 20%);
    margin-top: .5em;
    display: block;
    font-size: .9rem;
  }

  :global .btn {
    float: right;
  }
}
