@use "_attractions-theme.scss";

.two-state-switch {
  display: flex;
  align-items: center;

  :global {
    .track {
      border-color: attractions-theme.$main !important;
    }

    .thumb {
      background-color: attractions-theme.$main !important;
    }
  }
}

.state {
  font-weight: attractions-theme.$bold-font-weight;
  margin: 0 .8em;
  color: attractions-theme.$off-state;

  &.selected {
    color: attractions-theme.$main;
  }
}
