.user-group-picker {
  :global {
    .dropdown {
      padding: .5em 1em .5em .5em;
    }

    .groups {
      max-height: 20em;
      overflow-y: auto;
    }

    .checkbox {
      margin: .5em 0;
    }
  }
}
