@import "_attractions-theme.scss";
@import "_mixins.scss";

:global {
  @import "global/common.scss";
}

.material {
  padding-bottom: 2em;

  :global h1 {
    margin-top: 1.5em;
  }

  :global hr {
    margin: 3em 0;
  }

  .instructions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;

    & > p {
      margin: .5em 0;
    }

    :global .dropdown {
      padding: 1em;
      font-size: .95em;

      p {
        margin-bottom: .5em;
      }
    }
  }

  & > p {
    margin-top: 1em;
    font-weight: 300;
  }

  .actions {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) {
  .material.padded {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 4em;
  }
}
