@use "sass:meta";
@use "_attractions-theme.scss";

:global {
  @include meta.load-css("common.scss");
}

.material {
  padding-bottom: 3em;

  :global h2.padded {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
  }

  :global .dialog {
    margin: .5em;
  }
}

.activities {
  margin-top: 1em;
}
